<%= form_for @custom_field, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :object_id, 'Object ID', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :object_id, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :object_type, 'Object type', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :object_type, [:ACCOUNT, :BUNDLE, :SUBSCRIPTION, :INVOICE, :INVOICE_ITEM, :PAYMENT], {:selected => :account}, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, 'Name', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, 'Value', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :value, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
