<%= form_tag update_account_tags_path do %>
    <%= hidden_field_tag :account_id, account_id %>

    <% available_tags.each do |tag| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag "tag_#{tag.id}", tag.name, tag_names.include?(tag.name) %>
            <span class='tag-description' rel='tooltip' title='<%= tag.description %>'><%= tag.name %></span>
          </label>
        </div>
    <% end %>
    <%= label_tag :comment, 'Comment', :class => 'col-sm-2 control-label' %>
    <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
    <%= submit_tag 'Update', :class => 'btn btn-default' %>
<% end %>

<%= javascript_tag do %>
$(function() {
  $('.tag-description').tooltip();
});
<% end %>
