<% can_change_tags = can?(:add, Kaui::Tag) || can?(:delete, Kaui::Tag) %>
<%= form_tag update_account_tags_path do %>
    <%= hidden_field_tag :account_id, account_id %>

    <% available_tags.each do |tag| %>
        <div class="label-group-item-manual">
        <%= check_box_tag "tag_#{tag.id}", tag.name, tag_names.include?(tag.name), :disabled => !can_change_tags, :readonly => !can_change_tags %>
        <label class='tag-description' rel='tooltip' title='<%= tag.description %>'><%= tag.name %></label>
        </div>
    <% end %>

    <% if can_change_tags %>
        <%= label_tag :comment, 'Comment', :class => 'col-sm-2 control-label' %>
        <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
        <div class="d-flex align-items-right justify-content-end">
            <%= render "kaui/components/button/button", {
                label: "Update",
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "submit",
                html_class: "kaui-dropdown custom-hover",
            } %>
        </div>
    <% end %>
<% end %>

<%= javascript_tag do %>
$(function() {
  $('.tag-description').tooltip();
});
<% end %>
