<div class="modal fade cancel_subscription_by_date_modal" id="cancel_subscription_by_date_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title d-flex align-items-center gap-3">
          <span class="icon-container">
            <%= image_tag("kaui/subscription/cancel.svg" , width: 20, height: 20) %>
          </span>
          Cancel a Subscription Given a Date
        </h5>
        <button type="button" class="close close-button custom-hover" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag("kaui/modal/close.svg", width: 20, height: 20) %>
          </span>
        </button>
      </div>
        <%= form_for :subscription, :url =>  '' , :method => :delete, :html => {:class => 'form-horizontal', :id => 'cancel_subscription_form'} do |f| %>
          <div class="modal-body">
              <div class="form-group d-flex pb-3">
                <%= label_tag :resume_requested_date, 'Date', :class => 'col-sm-3 control-label field-label' %>
                <div class="col-sm-9">
                    <div class="custom-date-input-wrapper kaui-button custom-hover">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9167 12.5V18.3333M17.8333 15.4167H12" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.0833 1.66675V5.00008M6.58325 1.66675V5.00008" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.8333 10.8333V4.99992C17.8333 4.07944 17.0871 3.33325 16.1666 3.33325H4.49992C3.57944 3.33325 2.83325 4.07944 2.83325 4.99992V16.6666C2.83325 17.5871 3.57944 18.3333 4.49992 18.3333H10.3333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.83325 8.33325H17.8333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <input class="form-control" value="<%=Date.parse(Time.now.to_s).to_s%>" name="requested_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true">
                    </div>
                </div>
              </div>
              <div class="form-group d-flex">
                <div class="col-sm-3"></div>
                  <div class="checkbox col-sm-9">
                    <%= label_tag :use_requested_date_for_billing do %>
                        <input type="checkbox" class="form-check-input" id="is_requested_date_for_billing">
                        Use requested date for billing
                        <input type="hidden" id="use_requested_date_for_billing" name="use_requested_date_for_billing" value="0">
                    <% end %>
                </div>
              </div>
          </div>
          <div class="notice-worning">
            <%= image_tag("kaui/warning.png", width: 35, height: 35) %>
            <div>
              <strong>Notice</strong>
              <%= raw t('views.subscriptions.requested_date_for_billing_notice') %>
            </div>
          </div>
          <div class="modal-footer">
            <%= render "kaui/components/button/button", {
              label: 'Close',
              variant: "outline-secondary d-inline-flex align-items-center gap-1",
              type: "button",
              html_class: "kaui-button custom-hover",
              html_options: {
                data: {
                  bs_dismiss: "modal"
                }
              }
            } %>
            <%= render "kaui/components/button/button", {
              label: 'Save Subscription',
              variant: "outline-secondary d-inline-flex align-items-center gap-1",
              type: "submit",
              html_class: "kaui-dropdown custom-hover"
            } %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
    $(document).ready(function() {

        $('#cancel_subscription_by_date_modal').on('show.bs.modal', function (e) {
            $("#cancel_subscription_form").attr("action", Routes.kaui_engine_subscription_path(e.relatedTarget.dataset['id']));

        });

        $('#is_requested_date_for_billing').change(function(e) {
            $('#use_requested_date_for_billing').val($(this).is(':checked') ? 1 : 0);
        });

    });

<% end %>