<%= form_for @subscription, :url => subscription_path(@subscription.subscription_id), :html => {:method => :put, :class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= label_tag :plan_name, 'New plan', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= select_tag :plan_name, options_for_select(@plans, @subscription.plan_name.gsub(/ *-\d+$/, '')), :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :price_override, 'Price Override', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= number_field_tag :price_override, nil, :step => :any, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="radio">
          <%= label_tag :type_change do %>
              <%= radio_button_tag :type_change, 'DEFAULT', :checked => true %>
              Default policy
          <% end %>
        </div>
        <div class="radio">
          <%= label_tag :type_change do %>
              <%= radio_button_tag :type_change, 'POLICY' %>
              Specify Policy
          <% end %>
        </div>
        <div class="radio">
          <%= label_tag :type_change do %>
              <%= radio_button_tag :type_change, 'DATE' %>
              Specify a date
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group", id="form_requested_date" >
        <%= label_tag :requested_date, 'Change Date', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
            <%= text_field_tag :requested_date, Date.parse(Time.now.to_s).to_s, :class => 'form-control date-picker' %>
        </div>
    </div>
    <div class="form-group", id="form_policy">
      <%= label_tag :policy, 'Policy', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= select_tag :policy, options_for_select(['', 'IMMEDIATE', 'END_OF_TERM']), :class => 'form-control' %>
        <p class="help-block">Leave blank for default</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>

<%= javascript_tag do %>

function onTypeChange() {
    var value = $("input[type=radio]:checked").val();
        if (value == "DEFAULT") {
            $("#form_requested_date").hide();
            $("#form_policy").hide();
        } else if (value == "POLICY")  {
            $("#form_requested_date").hide();
            $("#form_policy").show();
        } else if (value == "DATE") {
           $("#form_policy").hide();
           $("#form_requested_date").show();
    }
}

$(document).ready(function() {
    onTypeChange();
    $( "input[type=radio]").on("click", function() {
        onTypeChange();
    });
});
<% end %>
