<%= form_for @subscription, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :bundle_id %>
    <%= f.hidden_field :account_id %>
    <%= f.hidden_field :product_category %>

    <% if @subscription.product_category == 'ADD_ON' %>
        <%= hidden_field_tag :base_product_name, @base_product_name %>
    <% elsif @subscription.product_category == 'BASE' %>
        <div class="form-group d-flex pb-3">
          <%= f.label :bundle_external_key, 'Bundle Key', :class => 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :bundle_external_key, :class => 'form-control', :id => 'bundle_external_key' %>
            <div class="subscription_bundle_external_key_invalid_msg text-danger">
              Warning! External key already in use.
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group d-flex pb-3">
      <%= f.label :subscription_external_key, 'Subscription Key', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :external_key, :class => 'form-control', :id => 'subscription_external_key' %>
        <div class="subscription_external_key_invalid_msg text-danger">
          Warning! External key already in use.
        </div>
      </div>
    </div>


    <div class="form-group d-flex pb-3">
      <%= label_tag :plan_name, 'Plan', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= select_tag :plan_name, options_for_select(@plans), :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group d-flex pb-3 border-bottom mb-3">
      <%= label_tag :price_override, 'Price Override', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= number_field_tag :price_override, nil, :step => :any, :min => 0, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group d-flex pb-3">
      <%= label_tag :type_change, 'Type', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-offset-2 col-sm-9">
        <div class="toggle-segment">
          <div class="radio">
            <%= label_tag 'type_change_imm' do %>
              <%= radio_button_tag :type_change, 'IMM', true, id: 'type_change_imm' %>
              Immediate Creation
            <% end %>
          </div>

          <div class="radio">
            <%= label_tag 'type_change_date' do %>
              <%= radio_button_tag :type_change, 'DATE', false, id: 'type_change_date' %>
              Specify a date
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <div id="form_requested_date" style="dispay: none;">
      <div class="form-group d-flex pb-3">
        <%= label_tag :requested_date, 'Date', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <div class="custom-date-input-wrapper kaui-button custom-hover">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9167 12.5V18.3333M17.8333 15.4167H12" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.0833 1.66675V5.00008M6.58325 1.66675V5.00008" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M17.8333 10.8333V4.99992C17.8333 4.07944 17.0871 3.33325 16.1666 3.33325H4.49992C3.57944 3.33325 2.83325 4.07944 2.83325 4.99992V16.6666C2.83325 17.5871 3.57944 18.3333 4.49992 18.3333H10.3333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.83325 8.33325H17.8333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input class="form-control" value="<%=Date.parse(Time.now.to_s).to_s%>" name="requested_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true">
          </div>
        </div>        
      </div>
    </div>
    <div class="form-group d-flex justify-content-end pt-3 border-top">
      <%= render "kaui/components/button/button", {
        label: 'Close',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "button",
        html_class: "kaui-button custom-hover mx-2",
        html_options: {
          id: "closeButton",
          onclick: "window.history.back();"
        }
      } %>
      <%= render "kaui/components/button/button", {
        label: 'Save Subscription',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "submit",
        html_class: "kaui-dropdown custom-hover",
        html_options: {
          id: "saveButton"
        }
      } %>
    </div>
<% end %>


<%= javascript_tag do %>

function onTypeChange() {
    var value = $("input[type=radio]:checked").val();
    if (value == "IMM") {
        $("#form_requested_date").hide();
    } else if (value == "DATE") {
        $("#form_requested_date").show();
    }
}

$(document).ready(function() {
    onTypeChange();
    $( "input[type=radio]").on("click", function() {
        onTypeChange();
    });
});
<% end %>