<div class="register kaui-subscription-new">
  <div class="">
        <div class="mx-auto" style="max-width:  37.5rem;">
            <h5 class="add-account-title border-bottom pb-3 mb-3">
                <span class="icon-container">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.16675 11.6665H13.3334M6.66675 11.6665H6.67423M10.8334 14.9998H6.66675M13.3334 14.9998H13.3259" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M13.75 1.6665V4.99984M6.25 1.6665V4.99984" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.8333 3.3335H4.16667C3.24619 3.3335 2.5 4.07969 2.5 5.00016V16.6668C2.5 17.5873 3.24619 18.3335 4.16667 18.3335H15.8333C16.7538 18.3335 17.5 17.5873 17.5 16.6668V5.00016C17.5 4.07969 16.7538 3.3335 15.8333 3.3335Z" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2.5 8.3335H17.5" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                Update Subscription BCD
            </h5>
            <%= form_for @subscription, :as => :subscription, :url => update_bcd_path(@subscription.subscription_id), :html => {:method => :put, :class => 'form-horizontal'} do |f| %>
                <%= f.hidden_field :account_id %>

                <div class="form-group d-flex pb-3">
                    <%= f.label :bill_cycle_day_local, 'Bill Cycle Day', :class => 'col-sm-3 control-label' %>
                    <div class="col-sm-9">
                        <%= f.number_field :bill_cycle_day_local, { :min => 1, :max => 31, :class => 'form-control'} %>
                    </div>
                </div>
                <div class="form-group d-flex pb-3 border-bottom mb-3" id="form_effective_from_date">
                    <%= label_tag :effective_from_date, 'Effective Date', :class => 'col-sm-3 control-label' %>
                    <div class="col-sm-9">
                        <div class="custom-date-input-wrapper kaui-button custom-hover">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.9167 12.5V18.3333M17.8333 15.4167H12" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.0833 1.66675V5.00008M6.58325 1.66675V5.00008" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.8333 10.8333V4.99992C17.8333 4.07944 17.0871 3.33325 16.1666 3.33325H4.49992C3.57944 3.33325 2.83325 4.07944 2.83325 4.99992V16.6666C2.83325 17.5871 3.57944 18.3333 4.49992 18.3333H10.3333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.83325 8.33325H17.8333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <input class="form-control" value="<%=Date.parse(Time.now.to_s).to_s%>" id="effective_from_date" name="effective_from_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true">
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-end pb-3">
                    <%= render "kaui/components/button/button", {
                        label: 'Close',
                        variant: "outline-secondary d-inline-flex align-items-center gap-1",
                        type: "button",
                        html_class: "kaui-button custom-hover mx-2",
                        html_options: {
                        id: "closeButton",
                        onclick: "window.history.back();"
                        }
                    } %>
                    <%= render "kaui/components/button/button", {
                        label: 'Save Subscription',
                        variant: "outline-secondary d-inline-flex align-items-center gap-1",
                        type: "submit",
                        html_class: "kaui-dropdown custom-hover"
                    } %>
                </div>
        <% end %>
        </div>
    </div>
</div>
