<div class="register">
    <div class="col-md-8 col-md-offset-2">

        <div class="column-block">
            <h1>Update Subscription BCD</h1>
            <%= form_for @subscription, :as => :subscription, :url => update_bcd_path(@subscription.subscription_id), :html => {:method => :put, :class => 'form-horizontal'} do |f| %>
                <%= f.hidden_field :account_id %>

                <div class="form-group">
                    <%= f.label :bill_cycle_day_local, 'Bill Cycle Day', :class => 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= f.number_field :bill_cycle_day_local, { :min => 1, :max => 31, :class => 'form-control'} %>
                    </div>
                </div>
                <div class="form-group" , id="form_effective_from_date">
                    <%= label_tag :effective_from_date, 'Effective Date', :class => 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= text_field_tag :effective_from_date, Date.parse(Time.now.to_s).to_s, :class => 'form-control date-picker' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <%= f.submit 'Save', :class => 'btn btn-default' %>
                    </div>
                </div>
        <% end %>
        </div>
    </div>
</div>
