<div class="page-header">
  <h2>Subscription <%= @subscription.id %></h2>
</div>
<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @subscription.product_category.downcase.capitalize %></dd>
  <dt>Product</dt>
  <dd><%= @subscription.product_name.downcase.capitalize %></dd>
  <dt>Period</dt>
  <dd><%= @subscription.billing_period.downcase.capitalize %></dd>
  <dt>Charged through</dt>
  <dd> <%= format_date(@subscription.charged_through_date).html_safe %>
  <dd><%= DateTime.parse(@subscription.charged_through_date).utc.to_s(:pretty) %>&nbsp;UTC</dd>
  <dt>Price List</dt>
  <dd><%= @subscription.price_list %></dd>
  <dt>Start Date</dt>
  <dd><%= DateTime.parse(@subscription.start_date).utc.to_s(:pretty) %>&nbsp;UTC</dd>
</dl>
<hr/>
<%= link_to "Change", kaui_engine.edit_subscription_path(@subscription.subscription_id), :class => "btn btn-mini" %>
<%= link_to "Cancel", kaui_engine.subscription_path(@subscription.subscription_id), :method => :delete, :confirm => "Are you sure ?", :class => "btn btn-mini" %>
<%= link_to "Add Addons", kaui_engine.subscription_path(@subscription.subscription_id), :method => :post, :class => "btn btn-mini" %>
