<%= form_for(@account_email) do |f| %>
    <%= f.hidden_field :account_id %>
    <div class='control-group'>
      <%= f.label :email, 'Email *', :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :email, :required => true %>
      </div>
    </div>

    <div class="form-actions">
      <%= button_tag 'Create email', :class => 'btn btn-primary' %>
    </div>
<% end %>
