<%= form_for [:account, @account_email], :html => {:class => 'form-horizontal'} do |f| %>
    <div class='form-group d-flex pb-3 border-bottom mb-3'>
      <%= f.label :email, 'Email', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, :class => 'form-control', :required => true %>
      </div>
    </div>

    <div class="form-group d-flex justify-content-end pb-3">
      <%= render "kaui/components/button/button", {
        label: 'Close',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "button",
        html_class: "kaui-button custom-hover mx-2",
        html_options: {
          id: "closeButton",
          onclick: "window.history.back();"
        }
      } %>
      <%= render "kaui/components/button/button", {
        label: 'Save Email',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "submit",
        html_class: "kaui-dropdown custom-hover",
        html_options: {
          id: "saveButton"
        }
      } %>
    </div>
<% end %>