<%
=begin%>
 <%= form_for [:account, @account_email], :html => {:class => 'form-horizontal'} do |f| %>
    <div class='form-group'>
      <%= f.label :email, 'Email', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, :class => 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %> 
<%
=end%>

<%= form_for [:account, @account_email], :html => {:class => 'form-horizontal'} do |f| %>
    <div class='form-group d-flex pb-3 border-bottom mb-3'>
      <%= f.label :email, 'Email', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, :class => 'form-control', :required => true %>
      </div>
    </div>

    <div class="form-group d-flex justify-content-end pb-3">
      <%= render "kaui/components/button/button", {
        label: 'Close',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "button",
        html_class: "kaui-button custom-hover mx-2",
        html_options: {
          id: "closeButton",
          onclick: "window.history.back();"
        }
      } %>
      <%= render "kaui/components/button/button", {
        label: 'Save Email',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "submit",
        html_class: "kaui-dropdown custom-hover",
        html_options: {
          id: "saveButton"
        }
      } %>
    </div>
<% end %>

<style>
  .control-label {
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 20px !important;
      color: #414651 !important;
  }

  .question-circle {
      color: #A4A7AE;
      font-size: 16px;
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 16px;
      text-align: center;
  }

  .col-sm-9.position-relative a {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .form-group.d-flex.pb-3 .form-control {
      height: 40px;
      border-radius: 6px;
  }

  .form-group.d-flex .form-control:focus {
      outline: none;
      box-shadow: none;
  }

  .checkbox label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #414651;
      display: flex;
      align-items: center;
      gap: 6px;
  }
</style>