<%
=begin%>
 <div class="modal fade" id="addAllowedUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content column-block">
      <div>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">Add allowed user</h1>
      </div>
      <div class="modal-body">
        <%= form_for :allowed_user, :url =>  add_allowed_user_path, :method => :put, :html => {:class => 'form-horizontal', :id => 'tenantAllowedUserForm'} do |f| %>
            <div class='form-group'>
              <%= f.label :kb_username, 'User name', :class => 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :kb_username, :class => 'form-control', :required => true %>
              </div>
            </div>
            <input type="hidden" name="tenant_id" value="<%= @tenant.id %>" />
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-10">
                <%= submit_tag 'Add', :class => 'btn btn-default' %>
              </div>
            </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_tag do %>
    $(document).ready(function() {
        function loadAllowedUser() {
            $.ajax(
            {
                url: Routes.kaui_engine_admin_tenant_allowed_users_path(),
                type: "GET",
                dataType: "json",
                data: {tenant_id: <%= @tenant.id %>},
                success: function(data) {
                    var availableAllowedUser = [];
                    for (var i=0; i < data.length ; i++) {
                        availableAllowedUser.push(data[i].kb_username);
                    }

                    $( "#allowed_user_kb_username" ).autocomplete({
                        source: availableAllowedUser,
                        appendTo: "#tenantAllowedUserForm",
                        classes: {
                            "ui-autocomplete": "autocomplete-allowed-user"
                        },
                    });

                }
            });
        }

        $('#addAllowedUserModal').on('show.bs.modal', function (e) {
            // reset field
            $( "#allowed_user_kb_username" ).val('');

        });

        loadAllowedUser();

    });
<% end %> 
<%
=end%>

<div class="modal fade" id="addAllowedUserModal" tabindex="-1" role="dialog" aria-labelledby="addAllowedUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title d-flex align-items-center gap-3" id="addAllowedUserModalLabel">
          <span class="icon-container">
            <%= image_tag("kaui/header/account.svg", width: 20, height: 20) %>
          </span>
          Add allowed user
        </h5>
        <button type="button" class="close close-button custom-hover" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag("kaui/modal/close.svg", width: 20, height: 20) %>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :allowed_user, :url =>  add_allowed_user_path, :method => :put, :html => {:class => 'form-horizontal', :id => 'tenantAllowedUserForm'} do |f| %>
            <div class='form-group d-flex align-items-center p-3'>
              <%= f.label :kb_username, 'User Name', :class => 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.text_field :kb_username, :class => 'form-control', :required => true %>
              </div>
            </div>
            <input type="hidden" name="tenant_id" value="<%= @tenant.id %>" />
             <div class="modal-footer">
              <%= render "kaui/components/button/button", {
                label: 'Close',
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "button",
                html_class: "kaui-button custom-hover mx-2 my-0",
                html_options: {
                  data: {
                    bs_dismiss: "modal"
                  },
                }
              } %>
              <%= render "kaui/components/button/button", {
                label: 'Save User',
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "submit",
                html_class: "kaui-dropdown custom-hover m-0",
                html_options: {
                  id: "applyAdvanceSearch"
                }
              } %>
            </div>
        <% end %>
      </div>
     
    </div>
  </div>
</div>

<%= javascript_tag do %>
    $(document).ready(function() {
        function loadAllowedUser() {
            $.ajax(
            {
                url: Routes.kaui_engine_admin_tenant_allowed_users_path(),
                type: "GET",
                dataType: "json",
                data: {tenant_id: <%= @tenant.id %>},
                success: function(data) {
                    var availableAllowedUser = [];
                    for (var i=0; i < data.length ; i++) {
                        availableAllowedUser.push(data[i].kb_username);
                    }

                    $( "#allowed_user_kb_username" ).autocomplete({
                        source: availableAllowedUser,
                        appendTo: "#tenantAllowedUserForm",
                        classes: {
                            "ui-autocomplete": "autocomplete-allowed-user"
                        },
                    });

                }
            });
        }

        $('#addAllowedUserModal').on('show.bs.modal', function (e) {
            // reset field
            $( "#allowed_user_kb_username" ).val('');

        });

        loadAllowedUser();

    });
<% end %>

<style>
  .modal-content {
    border-radius: 1rem;
    max-width: 40.5rem;
  }

  .control-label {
    margin-top: -1.25rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
  }

  .modal-body {
    padding: 0 !important;
  }

  .modal-header {
    padding: 1.5rem 1.5rem 1rem 1.5rem !important;
  }

  .modal-footer {
    padding: 1rem 1.5rem 1.5rem 1.5rem !important;
  }

  .modal-title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #181D27;
  }

  .close-button {
    background: transparent;
    padding: 0;
    margin-top: -1.25rem;
  }

  .close-button:hover {
    background: transparent;
    padding: 0;
  }

  .border-button {
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid #D5D7DA;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
  }

  .border-button:hover {
    background: transparent;
  }

  .button {
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
  }

  .button:hover {
    background: transparent;
  }

  .field-label {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    margin-top: -1.25rem;
    min-width: 9.59375rem;
  }

  .search-field-label {
    margin-top: -1.25rem;
  }

  .form-group.row.align-items-center {
    display: flex;
    align-items: center;
  }

  .form-group.row.align-items-center label {
    margin-bottom: 0;
  }

  .form-group.row.align-items-center .form-control {
    margin-right: 0.25rem;
    height: 2.5rem;
    border-radius: 0.375rem;
  }

  .form-group.row.align-items-center.search-field div {
    padding: 0;
    margin-right: 0.25rem;
  }

  .form-group.row.align-items-center .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .form-group.d-flex {
    display: flex;
    align-items: center;
  }

  .form-group.d-flex label {
    margin-bottom: 0;
  }

  .form-group.d-flex .form-control {
    margin-right: 0.25rem;
    height: 2.5rem;
    border-radius: 0.375rem;
  }

  .form-group.d-flex .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  #search-labels-container .label {
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
    color: white;
  }

  .col-form-label {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    padding: 0;
  }

  #search-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0.75rem;
  }

  .filter-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .filter-bar {
    display: flex;
    align-items: center;
  }

  .filter-bar label {
    margin: 0.625rem;
  }

  .modal-header .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid #D5D7DA;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
  }

  .modal-header .icon-container img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .form-group select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 6L8 10L12 6' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1rem 1rem;
    padding-right: 1.875rem;
  }

  select.form-control:focus {
    box-shadow: none;
    outline: none;
  }
</style>
