<div class="modal fade addAllowedUserModal" id="addAllowedUserModal" tabindex="-1" role="dialog" aria-labelledby="addAllowedUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title d-flex align-items-center gap-3" id="addAllowedUserModalLabel">
          <span class="icon-container">
            <%= image_tag("kaui/header/account.svg", width: 20, height: 20) %>
          </span>
          Add allowed user
        </h5>
        <button type="button" class="close close-button custom-hover" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag("kaui/modal/close.svg", width: 20, height: 20) %>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :allowed_user, :url =>  add_allowed_user_path, :method => :put, :html => {:class => 'form-horizontal', :id => 'tenantAllowedUserForm'} do |f| %>
            <div class='form-group d-flex align-items-center p-3'>
              <%= f.label :kb_username, 'User Name', :class => 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.text_field :kb_username, :class => 'form-control', :required => true %>
              </div>
            </div>
            <input type="hidden" name="tenant_id" value="<%= @tenant.id %>" />
             <div class="modal-footer">
              <%= render "kaui/components/button/button", {
                label: 'Close',
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "button",
                html_class: "kaui-button custom-hover mx-2 my-0",
                html_options: {
                  data: {
                    bs_dismiss: "modal"
                  },
                }
              } %>
              <%= render "kaui/components/button/button", {
                label: 'Save User',
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "submit",
                html_class: "kaui-dropdown custom-hover m-0",
                html_options: {
                  id: "applyAdvanceSearch"
                }
              } %>
            </div>
        <% end %>
      </div>
     
    </div>
  </div>
</div>

<%= javascript_tag do %>
    $(document).ready(function() {
        function loadAllowedUser() {
            $.ajax(
            {
                url: Routes.kaui_engine_admin_tenant_allowed_users_path(),
                type: "GET",
                dataType: "json",
                data: {tenant_id: <%= @tenant.id %>},
                success: function(data) {
                    var availableAllowedUser = [];
                    for (var i=0; i < data.length ; i++) {
                        availableAllowedUser.push(data[i].kb_username);
                    }

                    $( "#allowed_user_kb_username" ).autocomplete({
                        source: availableAllowedUser,
                        appendTo: "#tenantAllowedUserForm",
                        classes: {
                            "ui-autocomplete": "autocomplete-allowed-user"
                        },
                    });

                }
            });
        }

        $('#addAllowedUserModal').on('show.bs.modal', function (e) {
            // reset field
            $( "#allowed_user_kb_username" ).val('');

        });

        loadAllowedUser();

    });
<% end %>