<% if can? :config_upload, Kaui::AdminTenant %>
    <div class="tab-pane fade" id="InvoiceTranslation">
      <%= form_tag({:action => :upload_invoice_translation}, :method => 'post', :multipart => true, :class => 'form-horizontal') do %>
          <%= hidden_field_tag(:id, @tenant.id) %>

          <div class="form-group">
            <div class="col-sm-10">
              <%= file_field_tag 'invoice_translation', :class => 'form-control', :required => true %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :translation_locale, 'Locale', :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= text_field_tag :translation_locale, nil, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <%= submit_tag 'Upload', :class => 'btn btn-default' %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>