<div id="catalog_simple">
  <hr/>

  <h1>Existing Plans
    <% if can? :config_upload, Kaui::AdminTenant %>

        <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe,
                    kaui_engine.admin_tenant_new_catalog_path(:id => @tenant.id),
                    :class => 'btn btn-xs'  %>
    <% end %>
    <a class='btn btn-xs' href="javascript:void(0);" onclick="switchXMLConfig();">Enable XML View</a>
  </h1>

  <table id="existing-plans-for-tenants" class="table table-condensed">

    <span class='label'>
        <b>Catalog Versions:</b>
    </span>
    <select id="select_catalog" class="selectpicker show-menu-arrow">
      <% @catalogs.each_with_index do |catalog, i| %>
          <option idx="<%= catalog[:version] %>"><%= format_date(catalog[:version_date]) %></option>
      <% end %>
    </select>

    <thead>
    <tr>
      <th>Plan Id</th>
      <th>Product</th>
      <th>Category</th>
      <th>Billing Period</th>
      <% @catalogs.each do |catalog| %>
          <th class="catalog_version_<%= catalog[:version] %>">
            <select id="select_currencies_<%= catalog[:version] %>" class="selectpicker show-menu-arrow">
              <% catalog[:currencies].each_with_index do |currency, i| %>
                  <option><%= currency %></option>
              <% end %>
            </select>
          </th>
      <% end %>
      <th>Trial</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @catalogs.each do |catalog| %>
        <% catalog[:plans].each do |p| %>
            <tr class="catalog_version_<%= catalog[:version] %>">
              <td><%= p.plan_id %></td>
              <td><%= p.product_name %></td>
              <td><%= p.product_category %></td>
              <td><%= p.billing_period %></td>
              <td>
                <% catalog[:currencies].each do |c| %>
                    <span class="plan_currency_<%= c %>"><%= p.prices[c] %></span>
                <% end %>
              </td>
              <td><%= p.trial_length != 0 ? "#{p.trial_length} #{p.trial_time_unit}" : "#{p.trial_time_unit}" %></td>
              <td><%= link_to '<i class="fa fa-plus-square"></i>'.html_safe + " currency", kaui_engine.admin_tenant_new_plan_currency_path(:id => @tenant.id, :plan_id => p.plan_id),
                      :class => 'btn btn-xs' %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>


<%= javascript_tag do %>

function initBasicConfig() {
    displayCatalogVersion();
    displayAmountsForCurrency();
}

function displayCatalogVersion() {
    $('[class^="catalog_version_"]').hide();
    $("[class^=catalog_version_" + $("#select_catalog option:selected" ).attr("idx") + "]").show();
}

function displayAmountsForCurrency() {
    var catalogVersion = $("#select_catalog option:selected" ).attr("idx");
    $('[class^="plan_currency_"]').hide();
    $("[class^=plan_currency_" + $("#select_currencies_" + catalogVersion + " option:selected" ).text() + "]").show();
}

$(document).ready(function() {

    $("#select_catalog").change(function() {
        displayCatalogVersion();
    });

    $('[id^="select_currencies"]').change(function() {
        displayAmountsForCurrency();
    });
});
<% end %>

