<div id="catalog_xml">
  <hr/>

  <div>
    <h1>Catalog XML
      <a class="btn btn btn-xs" href="javascript:void(0);" onclick="switchBasicConfig();">Enable Simple Configuration</a>
    </h1>


    <table id="catalog-xml-for-tenant" class="table table-condensed">

      <thead>
      <tr>
        <th>Catalog Version</th>
        <th>Effective Date</th>
        <th>Catalog XML</th>
      </tr>
      </thead>
      <tbody>
      <% @catalog_versions.each do |catalog| %>
          <tr>
            <td><%= catalog[:version] %></td>
            <td><%= catalog[:version_date] %></td>
            <td>
              <%= form_tag(kaui_engine.admin_tenant_display_catalog_xml_path, :id => "submit_form_xml_#{catalog[:version]}", :method => 'post', :multipart => true, :class => "hide") do %>
                  <%= hidden_field_tag(:effective_date, catalog[:version_date]) %>
                  <%= hidden_field_tag(:id, @tenant.id) %>
                  <%= submit_tag 'submit' %>
              <% end %>
              <a class='btn btn-xs' href="javascript:void(0);" onclick="submit_xml(<%= catalog[:version] %>);">view xml</a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= javascript_tag do %>
function submit_xml(version_id) {
    $("#submit_form_xml_" + version_id).submit();
};
<% end %>

