<div class="tab-pane fade in active" id="CatalogShow">
  <hr/>

  <h1>Existing Plans
    <% if can? :config_upload, Kaui::AdminTenant %>
        <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe,
                    kaui_engine.admin_tenant_new_catalog_path(:id => 1),
                    :class => 'btn btn-xs' %>
    <% end %>
  </h1>


  <table id="existing-plans-for-tenants" class="table table-condensed">
    <thead>
    <tr>
      <th>Plan Id</th>
      <th>Product</th>
      <th>Billing Period</th>
      <th>
        <select id="select_currencies" class="selectpicker show-menu-arrow">
          <% @currencies.each_with_index do |c, i| %>
              <option><%= c %></option>
          <% end %>
        </select>
      </th>
      <th>Trial</th>
    </tr>
    </thead>
    <tbody>
    <% @existing_simple_plans.each do |p| %>
        <tr>
          <td><%= p.plan_id %></td>
          <td><%= p.product_name %></td>
          <td><%= p.billing_period %></td>
          <td>
            <% @currencies.each do |c| %>
                <span class="plan_currency_<%= c %>"><%= p.prices[c] %></span>
            <% end %>
          </td>
          <td><%= p.trial_length != 0 ? "#{p.trial_length} #{p.trial_time_unit}" : "#{p.trial_time_unit}" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
function displayAmountsForCurrency() {
    $('[class^="plan_currency_"]').hide();
    $("[class^=plan_currency_" + $("#select_currencies option:selected" ).text() + "]").show();
}

$(document).ready(function() {
    displayAmountsForCurrency();
    $("#select_currencies").change(function() {
        displayAmountsForCurrency();
    });
});
<% end %>

