<%
=begin%>
 <div class="col-md-6">

  <div class="column-block">

    <h1>Useful links</h1>

    <ul>
      <li><%= link_to 'Parked accounts', kaui_engine.tags_path(:q => '__PARK__') %></li>
      <li><%= link_to 'AUTO_INVOICING_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_INVOICING_OFF') %></li>
      <li><%= link_to 'AUTO_PAY_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_PAY_OFF') %></li>
      <li><%= link_to 'PENDING payments', kaui_engine.payments_path(:q => 'PENDING') %></li>
      <li><%= link_to 'UNKNOWN and PLUGIN_FAILURE payments', kaui_engine.payments_path(:q => 'UNKNOWN') %></li>
      <li><%= link_to 'Queues', kaui_engine.queues_path %></li>
    </ul>

  </div>

</div> 
<%
=end%>



<div class="kaui-container">
  <div class="useful-links-container">
    <div class="d-flex flex-column">
      <div class="useful-links-header mb-3">
        <div class="d-flex align-items-start flex-column">
          <h2>Useful links</h2>
        </div>
        <span>
        </span>
      </div>
      <div class="">
        <ul>
          <li><%= link_to 'Parked accounts', kaui_engine.tags_path(:q => '__PARK__') %></li>
          <li><%= link_to 'AUTO_INVOICING_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_INVOICING_OFF') %></li>
          <li><%= link_to 'AUTO_PAY_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_PAY_OFF') %></li>
          <li><%= link_to 'PENDING payments', kaui_engine.payments_path(:q => 'PENDING') %></li>
          <li><%= link_to 'UNKNOWN and PLUGIN_FAILURE payments', kaui_engine.payments_path(:q => 'UNKNOWN') %></li>
          <li><%= link_to 'Queues', kaui_engine.queues_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<style>
  .useful-links-container {
    max-width: 80rem;
    width: 100%;
  }

  .useful-links-container .useful-links-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
    padding-bottom: 1rem;
  }

  .useful-links-container .useful-links-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin: 0;
  }

  .useful-links-container .useful-links b {
    display: block;
    margin-bottom: 0.25rem;
    color: #414651 !important;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }

  .useful-links-container .useful-links p {
    display: block;
    color: #717680 !important;
    font-weight: 400;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }
</style>