<div class="col-md-6">

  <div class="column-block">

    <h1>Useful links</h1>

    <ul>
      <li><%= link_to 'Parked accounts', kaui_engine.tags_path(:q => '__PARK__') %></li>
      <li><%= link_to 'AUTO_INVOICING_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_INVOICING_OFF') %></li>
      <li><%= link_to 'AUTO_PAY_OFF accounts', kaui_engine.tags_path(:q => 'AUTO_PAY_OFF') %></li>
      <li><%= link_to 'PENDING payments', kaui_engine.payments_path(:q => 'PENDING') %></li>
      <li><%= link_to 'UNKNOWN and PLUGIN_FAILURE payments', kaui_engine.payments_path(:q => 'UNKNOWN') %></li>
      <li><%= link_to 'Queues', kaui_engine.queues_path %></li>
    </ul>

  </div>

</div>
