<%= form_for @tenant, url: admin_tenants_path, :html => {:class => 'form-horizontal'} do |f| %>
    <fieldset>

      <div class="control-group">
        <%= f.label :name, 'Name', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'input-small', :required => true %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :api_key, 'API Key', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :api_key, :class => 'input-small', :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :api_secret, 'API Secret', :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :api_secret, :class => 'input-small', :required => true %>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag 'Configure a new Tenant', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
