<div id="catalog_simple">

  <div>
    <h1>Catalog (Add Plan Currency)
    </h1>
  </div>
  <%= form_for @simple_plan, :url => {:action => :create_simple_plan}, :html => {:class => 'form-horizontal'} do |f| %>

      <%= hidden_field_tag(:id, @tenant.id) %>
      <div class="form-group">
        <%= f.label :plan_id, 'Plan ID', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :plan_id, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :amount, 'Amount', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :amount, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :currency, 'Currency', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= f.select :currency, currencies, {:selected => 'USD'}, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= submit_tag 'Save', :class => 'btn btn-default' %>
        </div>
      </div>
  <% end %>
</div>
