<%= render :partial => 'tenant_details' %>

<%= render :partial => 'useful_links' %>

<% unless @allowed_users.empty? %>
  <div class="col-md-12">

    <div class="search">

      <div class="column-block">

        <h1>Allowed Users
        <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe,
                                          '#addAllowedUserModal',
                                          :class => 'btn btn-xs', data: {toggle: 'modal'} %></h1>
        <table id="allowed-users-for-tenant-table" class="table table-condensed">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @allowed_users.each do |u| %>
              <tr>
                <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
                <td><%= u.description %></td>
                <td>
                  <% if current_user.root? %>
                      <button type="button" class="btn btn-default btn-sm" id="<%= "allowed-user-remove-#{u.id}" %>">
                        <span class="fa fa-times"></span>
                      </button>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </div>

    <%= javascript_tag do %>
      $(document).ready(function() {
        $('#allowed-users-for-tenant-table').dataTable({
          "dom": "t",
          "paging": false,
          "order": [[ 0, "asc" ]],
          "columns": [
            null,
            null,
            { "orderable": false }
          ]
        });
      });
    <% end %>
<% end %>

<div class="container">
  <ul class="nav nav-tabs" id="tenant_tabs" active_tab="<%= @active_tab %>">
    <li class="nav active"><a href="#CatalogShow" data-toggle="tab">Catalog Show</a></li>
    <li class="nav"><a href="#OverdueShow" data-toggle="tab">Overdue Show</a></li>
    <li class="nav"><a href="#InvoiceTemplate" data-toggle="tab">Invoice Template</a></li>
    <li class="nav"><a href="#InvoiceTranslation" data-toggle="tab">Invoice Translation</a></li>
    <li class="nav"><a href="#CatalogTranslation" data-toggle="tab">Catalog Translation</a></li>
    <li class="nav"><a href="#PluginConfig" data-toggle="tab">Plugin Config</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <%= render :partial => 'show_catalog' %>
    <%= render :partial => 'show_overdue' %>
    <%= render :partial => 'form_invoice_template' %>
    <%= render :partial => 'form_invoice_translation' %>
    <%= render :partial => 'form_catalog_translation' %>
    <%= render :partial => 'form_plugin_config' %>
  </div>
</div>

<%= render :partial => 'add_allowed_user_modal' %>

<%= javascript_tag do %>


   function updateBrowserHistory(target) {
      // Check if we are already on the right tab
      res = $.grep(location.href.split('?'), function(el) {
        if (el.startsWith("active_tab")) {
          return true;
        }
      });
      if (res.length > 0) {
        if (res[0].split('=')[1] == target) {
          return;
        }
      }

     // If not update the browser history
     var base_url = location.href.split('?')[0]
     var newUrl = base_url + "?active_tab=" + target

     var stateObj = { tenantTab: target };
     history.pushState(stateObj, "New tab ", newUrl);
    }


  $(document).ready(function() {
    $('[id^=allowed-user-remove-]').click(function() {
      var allowedUser = $(this);
      $.ajax({ type: "DELETE",
        url: "<%= remove_allowed_user_path :format => :json %>",
        data: { allowed_user: { id: this['id'].split('-')[3] }, id: <%= @tenant.id %>},
        success: function(data) {  allowedUser.parent().parent().hide(); return false; },
        error: function(request, textStatus, errorThrown) { console.log("AJAX FAILED!!!! request.status " + request.status + ", textStatus = " + textStatus); return false; }
      });
    });

    $('#tenant_tabs li').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href");
      updateBrowserHistory(target.split('#')[1])
    });


    if ($('#tenant_tabs').attr('active_tab') != "") {
      $('#tenant_tabs a[href="#' + $('#tenant_tabs').attr('active_tab') + '"]').tab('show');
    }
  });
<% end %>
