<% if can? :view, Kaui::AdminTenant %>
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><%= @tenant.name %>&nbsp;</dd>
      <dt>Tenant ID:</dt>
      <dd><%= @tenant.kb_tenant_id %>&nbsp;</dd>
      <dt>API Key:</dt>
      <dd><%= @tenant.api_key %>&nbsp;</dd>
    </dl>

    <% unless @tenant.kaui_allowed_users.empty? %>
        <h3>Allowed Users:</h3>
        <table id="allowed-users-for-tenant-table" class="table table-condensed">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <% @tenant.kaui_allowed_users.each do |u| %>
              <tr>
                <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
                <td><%= u.description %></td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" id="<%= "allowed-user-remove-#{u.id}" %>">
                  <span class="icon-remove"></span>
                  </button>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>
<% if can? :config_upload, Kaui::AdminTenant %>
    <%= form_tag({action: :upload_catalog}, method: 'post', multipart: true) do %>

        <%= hidden_field_tag(:id, @tenant.id) %>

        <div class="control-group">
          <%= label_tag :catalog, 'Tenant Catalog XML', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'catalog' %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Upload' %>
        </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>

    <%= form_tag({action: :upload_overdue_config}, method: 'post', multipart: true) do %>

        <%= hidden_field_tag(:id, @tenant.id) %>

        <div class="control-group">
          <%= label_tag :overdue, 'Tenant Overdue Config XML', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'overdue' %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Upload' %>
        </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>

    <%= form_tag({action: :upload_invoice_template}, method: 'post', multipart: true) do %>

        <%= hidden_field_tag(:id, @tenant.id) %>

        <div class="control-group">
          <%= label_tag :invoice_template, 'Invoice template', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'invoice_template' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :manual_pay, 'Manual Pay', :class => 'control-label' %>
          <div class="controls">
            <%= check_box_tag(:manual_pay) %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Upload' %>
        </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>


    <%= form_tag({action: :upload_invoice_translation}, method: 'post', multipart: true) do %>

        <%= hidden_field_tag(:id, @tenant.id) %>

        <div class="control-group">
          <%= label_tag :invoice_translation, 'Invoice translation', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'invoice_translation' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :translation_locale, 'Locale', :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag(:translation_locale) %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Upload' %>
        </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>


    <%= form_tag({action: :upload_catalog_translation}, method: 'post', multipart: true) do %>

        <%= hidden_field_tag(:id, @tenant.id) %>

        <div class="control-group">
          <%= label_tag :catalog_translation, 'Catalog translation', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'catalog_translation' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :translation_locale, 'Locale', :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag(:translation_locale) %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Upload' %>
        </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>


<% end %>

<%= javascript_tag do %>
    $(document).ready(function() {
    $('[id^=allowed-user-remove-]').click(function() {
        var allowedUser = $(this);
        $.ajax({ type: "DELETE",
                 url: "<%= remove_allowed_user_path :format => :json %>",
                 data: { allowed_user: { id: this['id'].split('-')[3] }, id: <%= @tenant.id %>},
                 success: function(data) {  allowedUser.parent().parent().hide(); return false; },
                 error: function(request, textStatus, errorThrown) { console.log("AJAX FAILED!!!! request.status " + request.status + ", textStatus = " + textStatus); return false; }
        });
      });
    });
<% end %>
