<%= form_for @payment_method, :html => {:class => 'form-horizontal'} do |f| %>
    <fieldset>
      <%= f.hidden_field :account_id %>
      <div class="control-group">
        <%= f.label :external_key, 'External key *', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :external_key, :class => 'input-sm', :required => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :plugin_name, 'Plugin name *', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :plugin_name, :class => 'input-sm', :required => true %>
        </div>
      </div>
      <div id="creditcard">
        <%= render :partial => 'new_creditcard_payment_method' %>
      </div>
      <div class="control-group">
        <%= f.label :is_default, 'Default payment method?', :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :is_default, :class => 'input-sm' %>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag 'Create payment method', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
