<div class="control-group">
  <%= label_tag :card_type, 'Card Type', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :card_type, @card_type, :class => 'input-small' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :card_holder_name, 'Name of card holder', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :card_holder_name, @card_holder_name, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Expiration date</label>

  <div class="controls">
    <%= text_field_tag :expiration_year, @expiration_year, :class => 'input-small', :placeholder => 'Year' %>&nbsp;<%= text_field_tag :expiration_month, @expiration_month, :class => 'input-small', :placeholder => 'Month' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :credit_card_number, 'Credit card number', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :credit_card_number, @credit_card_number, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :address1, 'Address 1', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :address1, @address1, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :address2, 'Address 2', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :address2, @address2, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :city, 'City', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :city, @city, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :postal_code, 'ZIP code', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :postal_code, @postal_code, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :state, 'State', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :state, @state, :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :country, 'Country', :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :country, @country, :class => 'input-xlarge' %>
  </div>
</div>
