<div class="page-header">
  <h2>Payment methods</h2>
</div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Card Type</th>
      <th>Account Name</th>
      <th>Mask Number / Baid</th>
      <th>Expiration Date</th>
      <th>Default Method</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% if payment_methods.present? && !payment_methods.nil? %>
    <% payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.type %></a></td>
        <td><%= payment_method.card_type %></a></td>
        <td><%= payment_method.card_holder_name %><%= payment_method.email %></a></td>
        <td><%= payment_method.mask_number %><%= payment_method.baid %></td>
        <td><%= payment_method.expiration_dt %></td>
        <td>
          <% if payment_method.is_default %>
            <i class="icon-ok"></i>
          <% end %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
