<div id="plugin_properties" class="row">
  <a class='btn btn-xs' href="javascript:void(0);" onclick="payment_new_property();" id="new_property"><%= '<i class="fa fa-plus-square"></i>'.html_safe + " add property" %></a>
  <table id="plugin_properties_table" class="table table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% (@plugin_properties ||= [{}]).each_with_index do |plugin_properties, index| %>
      <%= fields :plugin_properties do |property| %>
        <%= property.fields_for "#{index}", plugin_properties do |key_value| %>
          <tr id="plugin_property_<%= index %>" >
            <td><%= key_value.text_field :key, class: 'form-control' %></td>
            <td><%= key_value.text_field :value, class: 'form-control' %></td>
            <td>
              <a class='btn btn-xs' href="javascript:void(0);" onclick="delete_property(this);" id="delete_plugin_property_<%= index %>"><%= '<i class="fa fa-times"></i>'.html_safe %></a>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <hr/>
</div>

<%= javascript_tag do %>

    function payment_new_property() {
      /* Compute max index value to assign new rows with unsued index */
      var max_idx = $.map($('[id^=delete_plugin_property_]'), function(e, i) {
        return e.id.split("delete_plugin_property_")[1] }
        ).sort(function(a, b) {
            return b - a
      })[0];

      /* Clone existing row and reset id based on max_idx */
      var row = $('#plugin_properties_table tbody>tr:last').clone(true);
      var row_idx = (parseInt(max_idx) + 1).toString();
      row.attr('id', "plugin_property_" + row_idx);
      row.children("td:last").children('a').attr('id', "delete_plugin_property_" + row_idx);

      /* update the index and reset value on content */
      row.find('td').each(function(){
        $(this).contents().each(function(){

          if ($(this).attr('name') != undefined){
            $(this).attr('name',($(this).attr('name')).replace(max_idx,row_idx));
          }

          $(this).val('');
        });
      });

      /* Attach row into dom */
      row.insertAfter('#plugin_properties_table tbody>tr:last');
    }

    function delete_property(obj) {
      var idx = obj.id.split("delete_plugin_property_")[1];
      var rowCount = $('#plugin_properties_table tr').size();

      if ( rowCount > 2 ){
        $("#plugin_property_" + idx).remove();
      } else {
        $("#plugin_property_" + idx).find('td').each(function(){
          $(this).contents().each(function(){
            $(this).val('');
          });
        });
      }
    }

<% end %>