<%= form_for @charge, :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :invoice_id %>

    <% if @invoice.nil? %>
        <div class='form-group'>
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <%= label_tag :auto_commit do %>
                  <%= check_box_tag :auto_commit, '1', true %>Auto-commit?
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :amount, 'Amount', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :amount, :step => :any, :id => 'charge_amount', :class => 'form-control' %>
        <% if @invoice.present? %>
            <p class="help-block">Currency: <%= @invoice.currency %></p>
        <% end %>
      </div>
    </div>
    <% unless @invoice.present? %>
        <div class="form-group">
          <%= f.label :currency, 'Currency', :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.select :currency, currencies, {}, :class => 'form-control' %>
          </div>
        </div>
    <% else %>
        <!--https://github.com/killbill/killbill/issues/388-->
        <%= f.hidden_field :currency %>
    <% end %>
    <div class="form-group">
      <%= f.label :description, 'Description', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :description, :rows => 3, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :comment, 'Comment', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>