<div class="page-header">
  <h1>Apply Charge</h1>
</div>
<%= form_for(@charge, :url => { :action => :create }, :html => { :class => "form-horizontal" }) do |f| %>
  <%= f.hidden_field :account_id %>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls">
        <label class="checkbox">
          <%= DateTime.now.to_s(:pretty) %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Account name</label>
      <div class="controls">
        <label class="checkbox">
          <%= @account.name %><br/>
          <%= @account.email %>
        </label>
      </div>
      <label class="control-label">Account timezone</label>
      <div class="controls">
        <label class="checkbox">
          <%= @account.timezone %>
        </label>
      </div>
    </div>
    <% if @invoice.present? %>
    <%= f.hidden_field :invoice_id %>
      <div class="control-group">
        <label class="control-label">Invoice number</label>
        <div class="controls">
          <label class="checkbox">
              <%= @invoice.invoice_number %><br/>
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Invoice amount</label>
        <div class="controls">
          <label class="checkbox">
              <%= @invoice.amount %> <%= @account.currency %>
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Balance</label>
        <div class="controls">
          <label class="checkbox">
              <%= @invoice.balance.nil? ? "0.00" : @invoice.balance %> <%= @account.currency %>
          </label>
        </div>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :amount, "Charge amount", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'input-small' %>
        <p class="help-inline"><%= @account.currency %></p>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :requested_date, 'Requested Date:', :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :requested_date, Time.now.utc.iso8601, :class => 'input-xlarge date-picker' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :comment, "Comment", :class => "control-label" %>
      <div class="controls">
        <%= text_area_tag :comment, "", :rows => 3, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, "Description (Viewable on the invoice that the customer will see)", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Create charge", :class =>"btn btn-primary" %>
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
