<%
=begin%>
 <div class="column-block">

  <h1>Clock</h1>

  <ul>
    <li>Current date/time: <span id="kb_clock"><%= @clock['currentUtcTime'] %></span></li>
  </ul>

  <div>
    <%= form_tag kaui_engine.admin_set_clock_path(params.to_h), :method => :put, :class => 'form-horizontal' do %>
        <div class="form-group">
          <%= label_tag :new_date, 'Set new date', :class => 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <input class="form-control" name="new_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true" value="<%= @clock['localDate'] %>">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= submit_tag 'Submit', :class => 'btn btn-default' %>
            <%= button_tag 'Reset', :class => 'btn btn-danger' %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    scheduleRefresh();
  });

  function scheduleRefresh() {
    setTimeout(refreshClock, 1000);
  }

  function refreshClock() {
    $.ajax({url: "<%= admin_path(:format => :js) %>"});
  }
<% end %>  
<%
=end%>


<div class="kaui-container">
  <div class="clock-container">
    <div class="d-flex flex-column">
      <div class="clock-header mb-3">
        <div class="d-flex align-items-start flex-column">
          <h2>Clock</h2>
          <p>Current date/time: <span id="kb_clock"><%= @clock['currentUtcTime'] %></span></p>
        </div>
        <span>
        </span>
      </div>
      <div>
        <%= form_tag kaui_engine.admin_set_clock_path(params.to_h), :method => :put, :class => 'form-horizontal' do %>

          <div class="trigger-invoice-box form-group">
            <b>Set new date</b>
            <div class="d-flex align-items-center">
              <div class="custom-date-input-wrapper kaui-button custom-hover">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9167 12.5V18.3333M17.8333 15.4167H12" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.0833 1.66675V5.00008M6.58325 1.66675V5.00008" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17.8333 10.8333V4.99992C17.8333 4.07944 17.0871 3.33325 16.1666 3.33325H4.49992C3.57944 3.33325 2.83325 4.07944 2.83325 4.99992V16.6666C2.83325 17.5871 3.57944 18.3333 4.49992 18.3333H10.3333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.83325 8.33325H17.8333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <input class="form-control" name="new_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true" value="<%= @clock['localDate'] %>">
              </div>

              <%= render "kaui/components/button/button", {
                label: "Submit",
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "submit",
                html_class: "btn btn-xs kaui-dropdown custom-hover py-2 px-3",
              } %>
            </div>

            <%= button_tag type: 'submit', class: 'kaui-button dots-menu custom-hover' do %>
              <%= image_tag('kaui/setting/reset.svg', alt: 'Reset Icon', class: 'me-2', size: '16x16') %>
              Reset
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    scheduleRefresh();
  });

  function scheduleRefresh() {
    setTimeout(refreshClock, 1000);
  }

  function refreshClock() {
    $.ajax({url: "<%= admin_path(:format => :js) %>"});
  }
<% end %>

<style>
  .clock-container {
    max-width: 80rem;
    width: 100%;
  }

  .clock-container .clock-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
    padding-bottom: 1rem;
  }

  .clock-container .clock-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin: 0;
  }

  .clock-container .clock-header p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #535862;
    margin: 0;
  }

  .trigger-invoice-box b {
    display: block;
    margin-bottom: 0.25rem;
    color: #414651 !important;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }

  .trigger-invoice-box button {
    margin-left: 0.3125rem;
    padding: 0.5rem 1rem;
  }

  .date-picker {
    flex: 1;
    max-width: 12.5rem;
  }

  .form-check-input {
    margin-top: 0.25rem;
  }

  .custom-date-input-wrapper {
    padding: 0 0.625rem !important;
    border: 0.0625rem solid #D5D7DA !important;
    border-radius: 0.375rem;
    cursor: pointer;
  }

  .custom-date-input-wrapper svg {
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  .custom-date-input-wrapper input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 !important;
    font-size: 1rem;
    color: #6B7280;
    height: 2.5rem;
  }

  .custom-date-input-wrapper input::placeholder {
    color: #717680;
  }

  .custom-date-input-wrapper input.form-control {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  .dots-menu {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;
    color: #175CD3 !important;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: capitalize;
    margin-top: 0.25rem;
  }

  .dots-menu img {
    margin-right: 0.25rem !important;
  }
</style>



