<%= form_for(@credit, :url => {:action => :create}, :html => {:class => 'form-horizontal'}) do |f| %>
    <%= f.hidden_field :account_id %>
    <fieldset>
      <% if @invoice.present? %>
          <%= f.hidden_field :invoice_id %>
          <%= hidden_field_tag :currency, @invoice.currency %>
          <div class="control-group">
            <label class="control-label">Invoice number</label>
            <div class="controls">
              <label class="checkbox">
                <%= @invoice.invoice_number %><br/>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Invoice amount</label>
            <div class="controls">
              <label class="checkbox">
                <%= @invoice.amount %> <%= @invoice.currency %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Balance</label>
            <div class="controls">
              <label class="checkbox">
                <%= @invoice.balance.nil? ? '0.00' : @invoice.balance %> <%= @invoice.currency %>
              </label>
            </div>
          </div>
      <% end %>
      <div class="control-group">
        <%= f.label :credit_amount, 'Credit amount', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :credit_amount, :id => 'credit_amount', :class => 'input-sm' %>
          <% if @invoice.present? %>
              <p class="help-inline"><%= @invoice.currency %></p>
          <% end %>
        </div>
      </div>
      <% unless @invoice.present? %>
          <div class="control-group">
            <%= label_tag :currency, 'Currency', :class => 'control-label' %>
            <div class="controls">
              <%= select_tag :currency, options_for_select(currencies, :selected => 'USD'), :class => 'input-sm' %>
            </div>
          </div>
      <% end %>
      <div class="control-group">
        <%= label_tag :reason, 'Reason', :class => 'control-label' %>
        <div class="controls">
          <%= select_tag :reason, options_for_select(Kaui::Credit::SAMPLE_REASON_CODES) %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :comment, 'Comment', :class => 'control-label' %>
        <div class="controls">
          <%= text_area_tag :comment, '', :rows => 3, :class => 'input-xlarge' %>
        </div>
      </div>
      <div class="form-actions">
        <%= button_tag 'Create credit', :class => 'btn btn-primary' %>
        <%= link_to 'Back', :back, :class => 'btn' %>
      </div>
    </fieldset>
<% end %>
<%= javascript_tag do %>
$(document).ready(function() {
  $("#credit_amount").keydown(function(event) {
    preventNonNumericValues(event);
  });
});
<% end %>
