<%= form_for @payment, :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :account_id %>
    <%= f.hidden_field :target_invoice_id %>

    <div class='form-group d-flex pb-3'>
     <%= f.label '', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="checkbox">
          <%= label_tag :external do %>
              <%= check_box_tag :external %>External
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group d-flex pb-3">
      <%= f.label :purchased_amount, 'Amount', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9 d-flex currency-group">
        <%= f.number_field :purchased_amount, :step => :any, :id => 'payment_amount', :class => 'form-control' %>
        <div class="currency"><%= @invoice.present? ? @invoice.currency : @account.currency %></div>
      </div>
    </div>
    <div class="form-group d-flex pb-3">
      <%= f.label :payment_method_id, 'Payment Method', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.collection_select :payment_method_id, @payment_methods, :payment_method_id, Proc.new { |pm| "#{pm.plugin_name} (#{pm.payment_method_id})" }, {:include_blank => true}, :class => 'form-control' %>
        <p class="help-block">Leave blank to use account's default</p>
      </div>
    </div>
    <div class="form-group d-flex pb-3">
      <%= label_tag :reason, 'Reason', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= select_tag :reason, options_for_select(Kaui.payment_reason_codes), :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group d-flex pb-3 border-bottom mb-3">
      <%= label_tag :comment, 'Comment', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group d-flex justify-content-end pb-3">
      <%= render "kaui/components/button/button", {
        label: 'Close',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "button",
        html_class: "kaui-button custom-hover mx-2",
        html_options: {
          id: "closeButton",
          onclick: "window.history.back();"
        }
      } %>
      <%= render "kaui/components/button/button", {
        label: 'Save Payment',
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "submit",
        html_class: "kaui-dropdown custom-hover",
        html_options: {
          id: "saveButton"
        }
      } %>
    </div>
<% end %>



<style>
  .control-label {
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 20px !important;
      color: #414651 !important;
  }

  .question-circle {
      color: #A4A7AE;
      font-size: 16px;
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 16px;
      text-align: center;
  }

  .col-sm-9.position-relative a {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .form-group.d-flex.pb-3 .form-control {
      height: 40px;
      border-radius: 6px;
  }

  .form-group.d-flex .form-control:focus {
      outline: none;
      box-shadow: none;
  }

  .form-group select.form-control {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;

      padding-right: 30px;
      /* To make space for the arrow */
  }

  select.form-control:focus {
      box-shadow: none;
      outline: none;
  }

  .checkbox label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #414651;
      display: flex;
      align-items: center;
      gap: 6px;
  }

  .form-group.d-flex .currency-group input {
    border-right: 0px;
    border-radius: 6px 0 0 6px !important;
  }

  .form-group.d-flex .currency-group .currency {
    border-left: 0px !important;
    border: 1px solid #ced4da;
    border-radius: 0 6px 6px 0 !important;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535862;
  }

  .help-block {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #535862;
  }
</style>