
<div class="info-wrapper" >

  <div class="d-flex justify-content-end align-items-center mb-2">

    <% gateway_url = gateway_url(payment_method, payment) %>
    <% unless gateway_url.nil? %>
        <div class="gateway-link">
          <span><%= link_to 'See in gateway', gateway_url, :target => '_blank' %></span>
        </div>
    <% end %>
  </div>

  <div style="overflow-x: auto;" class="scrollable-payment-table">
    <table id="payment_<%= payment.payment_id %>" class="payment-table">
      <thead>
      <tr>
        <th><%= I18n.translate('date') %></th>
        <th><%= I18n.translate('type') %></th>
        <th><%= I18n.translate('amount') %></th>
        <th><%= I18n.translate('transaction_external_key') %></th>
        <th><%= I18n.translate('first_id') %></th>
        <th><%= I18n.translate('second_id') %></th>
        <th><%= I18n.translate('gateway_code') %></th>
        <th><%= I18n.translate('gateway_message') %></th>
        <th><%= I18n.translate('status') %></th>
      </tr>
      </thead>
      <tbody>
      <% (payment.transactions || []).each do |transaction| %>
          <tr>
            <td><%= format_date(transaction.effective_date, account.time_zone).html_safe %></td>
            <td><%= transaction.transaction_type %></td>
            <td>
              <% if transaction.amount.present? %>
                  <% if transaction.amount != transaction.processed_amount %>
                  <%= humanized_money_with_symbol Kaui::Transaction.processed_amount_to_money(transaction) %>
                  (<%= transaction.currency %>)
                  <a href="#" data-toggle="tooltip" class="kb-tooltip" title="<%= I18n.translate('requested_amount_colon') %> <%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %>(<%= transaction.currency %>)">(?)</a>
                  <% else%>
                  <%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %>
                  (<%= transaction.currency %>)
                  <% end %>
              <% end %>
            </td>
            <td><%= transaction.transaction_external_key %></td>
            <td><%= transaction.first_payment_reference_id %></td>
            <td><%= transaction.second_payment_reference_id %></td>
            <td><%= transaction.gateway_error_code %></td>
            <td><%= transaction.gateway_error_msg %></td>
            <td>
              <ul style="list-style: none; padding-left: 0">
                <li>
                  <%= colored_transaction_status(transaction.status) %>
                  <% if current_user.root? %>
                      <%= link_to '&nbsp;<i class="fa fa-eraser"></i>'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                           :payment_id => payment.payment_id,
                                                                                                                           :transaction_id => transaction.transaction_id) %>
                  <% end %>
                </li>
                <% if transaction.next_retry_date %>
                    <li>
                      Scheduled retry:
                      <%= transaction.next_retry_date %>
                      <% if can? :trigger, Kaui::Payment %>
                          <%= link_to '<i class="fa fa-times"></i>'.html_safe, kaui_engine.payment_cancel_scheduled_payment_path(payment.payment_id, :account_id => payment.account_id, :transaction_external_key => transaction.transaction_external_key), :method => :delete %>
                      <% end %>
                    </li>
                <% end %>
                <% (transaction.properties || []).sort_by { |p| p.key }.each do |property| %>
                    <% next if property.value.blank? %>
                    <li><strong><%= property.key %>:</strong>
                        <%= json?(property.value) ? "<pre>#{JSON.pretty_generate(JSON.parse(property.value))}</pre>".html_safe : property.value %></li>
                <% end %>
              </ul>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#payment_<%= payment.payment_id %>').dataTable({
      "dom": "t",
      "paging": false
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

  });
<% end %>
