<div class="info-wrapper" >

  <div class="tag-bar">
    <!--<div class="tag-select">-->
    <!--<span><i class="fa fa-tag"></i><i class="fa fa-caret-down"></i></span>-->
    <!--<div class="tag-select-box">-->
    <!--<strong>Tag As:</strong>-->
    <!--</div>-->
    <!--</div>-->

    <%= render :partial => 'kaui/custom_fields/list_bar',
               :locals => {:custom_fields => custom_fields} %>

    <% if payment.capturable? || payment.voidable? || (payment.refundable? && (can?(:refund, Kaui::Payment) || can?(:chargeback, Kaui::Payment))) %>

      <div class="tag-select" onclick="void(0)">
        <span><i class="fa fa-credit-card"></i><i class="fa fa-caret-down"></i></span>

        <div class="tag-select-box">

          <% if payment.refundable? %>
            <% if can? :refund, Kaui::Payment %>
                <% if payment.target_invoice_id.present? %>
                    <%= link_to '<i class="fa fa-money"></i>&nbsp;Refund'.html_safe, kaui_engine.new_account_refund_path(payment.account_id, :params => {:payment_id => payment.payment_id,
                                                                                                                                                         :invoice_id => payment.target_invoice_id}) %>
                <% else %>
                    <%= link_to '<i class="fa fa-money"></i>&nbsp;Refund'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                              :payment_id => payment.payment_id,
                                                                                                                              :payment_method_id => payment.payment_method_id,
                                                                                                                              :amount => payment.amount_refundable,
                                                                                                                              :currency => payment.currency,
                                                                                                                              :transaction_type => 'REFUND') %>
                <% end %>
            <% end %>
            <% if can? :chargeback, Kaui::Payment %>
                <% if payment.target_invoice_id.present? %>
                    <%= link_to '<i class="fa fa-undo"></i>&nbsp;Chargeback'.html_safe, kaui_engine.new_account_chargeback_path(payment.account_id,
                                                                                                                                :payment_id => payment.payment_id,
                                                                                                                                :invoice_id => payment.target_invoice_id) %>
                <% else %>
                    <%= link_to '<i class="fa fa-undo"></i>&nbsp;Chargeback'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                                 :payment_id => payment.payment_id,
                                                                                                                                 :payment_method_id => payment.payment_method_id,
                                                                                                                                 :amount => payment.amount_refundable,
                                                                                                                                 :currency => payment.currency,
                                                                                                                                 :transaction_type => 'CHARGEBACK') %>
                <% end %>
            <% end %>
          <% end %>
          <% if payment.capturable? %>
                <%= link_to '<i class="fa fa-credit-card"></i>&nbsp;Capture'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                                 :payment_id => payment.payment_id,
                                                                                                                                 :payment_method_id => payment.payment_method_id,
                                                                                                                                 :amount => payment.amount_capturable,
                                                                                                                                 :currency => payment.currency,
                                                                                                                                 :transaction_type => 'CAPTURE') %>
          <% end %>
          <% if payment.voidable? %>
                <%= link_to '<i class="fa fa-times-circle-o"></i>&nbsp;Void'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                                 :payment_id => payment.payment_id,
                                                                                                                                 :payment_method_id => payment.payment_method_id,
                                                                                                                                 :transaction_type => 'VOID') %>
          <% end %>

        </div>

      </div>
    <% end %>
    <% gateway_url = gateway_url(payment_method, payment) %>
    <% unless gateway_url.nil? %>
        <div class="gateway-link">
          <span><%= link_to 'See in gateway', gateway_url, :target => '_blank' %></span>
        </div>
    <% end %>
  </div>

  <div style="overflow-x: auto;">
    <table id="payment_<%= payment.payment_id %>" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th><%= I18n.translate('date') %></th>
        <th><%= I18n.translate('type') %></th>
        <th><%= I18n.translate('amount') %></th>
        <th><%= I18n.translate('transaction_external_key') %></th>
        <th><%= I18n.translate('first_id') %></th>
        <th><%= I18n.translate('second_id') %></th>
        <th><%= I18n.translate('gateway_code') %></th>
        <th><%= I18n.translate('gateway_message') %></th>
        <th><%= I18n.translate('status') %></th>
      </tr>
      </thead>
      <tbody>
      <% (payment.transactions || []).each do |transaction| %>
          <tr>
            <td><%= format_date(transaction.effective_date, account.time_zone).html_safe %></td>
            <td><%= transaction.transaction_type %></td>
            <td>
              <% if transaction.amount.present? %>
                  <% if transaction.amount != transaction.processed_amount %>
                  <%= humanized_money_with_symbol Kaui::Transaction.processed_amount_to_money(transaction) %>
                  (<%= transaction.currency %>)
                  <a href="#" data-toggle="tooltip" class="kb-tooltip" title="<%= I18n.translate('requested_amount_colon') %> <%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %>(<%= transaction.currency %>)">(?)</a>
                  <% else%>
                  <%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %>
                  (<%= transaction.currency %>)
                  <% end %>
              <% end %>
            </td>
            <td><%= transaction.transaction_external_key %></td>
            <td><%= transaction.first_payment_reference_id %></td>
            <td><%= transaction.second_payment_reference_id %></td>
            <td><%= transaction.gateway_error_code %></td>
            <td><%= transaction.gateway_error_msg %></td>
            <td>
              <ul style="list-style: none; padding-left: 0">
                <li>
                  <%= colored_transaction_status(transaction.status) %>
                  <% if current_user.root? %>
                      <%= link_to '&nbsp;<i class="fa fa-eraser"></i>'.html_safe, kaui_engine.new_account_transaction_path(payment.account_id,
                                                                                                                           :payment_id => payment.payment_id,
                                                                                                                           :transaction_id => transaction.transaction_id) %>
                  <% end %>
                </li>
                <% if transaction.next_retry_date %>
                    <li>
                      Scheduled retry:
                      <%= transaction.next_retry_date %>
                      <% if can? :trigger, Kaui::Payment %>
                          <%= link_to '<i class="fa fa-times"></i>'.html_safe, kaui_engine.payment_cancel_scheduled_payment_path(payment.payment_id, :account_id => payment.account_id, :transaction_external_key => transaction.transaction_external_key), :method => :delete %>
                      <% end %>
                    </li>
                <% end %>
                <% (transaction.properties || []).sort_by { |p| p.key }.each do |property| %>
                    <% next if property.value.blank? %>
                    <li><strong><%= property.key %>:</strong>
                        <%= json?(property.value) ? "<pre>#{JSON.pretty_generate(JSON.parse(property.value))}</pre>".html_safe : property.value %></li>
                <% end %>
              </ul>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#payment_<%= payment.payment_id %>').dataTable({
      "dom": "t",
      "paging": false
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

  });
<% end %>
