<div class="page-header">
  <h3>Payments</h3>
</div>
<table class="table table-condensed table-striped data-table">
  <thead>
  <tr>
    <th>Effective date</th>
    <th>Transaction type</th>
    <th>Paid amount</th>
    <th>Payment method</th>
    <th>First / Second reference id</th>
    <th>Status</th>
    <th>Gateway message</th>
  </tr>
  </thead>
  <tbody>
  <% if @payments.present? %>
      <% @payments.each do |payment| %>
          <% payment.transactions.each do |transaction| %>
              <tr>
                <td><%= format_date(transaction.effective_date, @account.time_zone).html_safe if transaction.effective_date.present? %></td>
                <td><%= transaction.transaction_type %></td>
                <td><%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %> (<%= transaction.currency %>)</td>
                <td><%= link_to @payment_methods[transaction.payment_id].payment_method_id, kaui_engine.transaction_method_path(@payment_methods[transaction.payment_id].payment_method_id) if @payment_methods.present? and @payment_methods[transaction.payment_id].present? %></td>
                <td><%= transaction.first_payment_reference_id %> <%= " / " if transaction.second_payment_reference_id.present? %> <%= transaction.second_payment_reference_id %></td>
                <td><%= transaction.status %> <%= transaction.gateway_error_code unless transaction.status == 'SUCCESS' %> <%= transaction.gateway_error_msg %></td>
                <td><%= transaction.gateway_error_msg %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>
