<table id="payment_<%= payment.payment_id %>" class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Amount</th>
    <th>First id</th>
    <th>Second id</th>
    <th>Gateway code</th>
    <th>Gateway message</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% (payment.transactions || []).each do |transaction| %>
      <tr>
        <td><%= format_date(transaction.effective_date, account.time_zone).html_safe %></td>
        <td><%= transaction.transaction_type %></td>
        <td>
          <% if transaction.amount.present? %>
              <%= humanized_money_with_symbol Kaui::Transaction.amount_to_money(transaction) %>
              (<%= transaction.currency %>)
          <% end %>
        </td>
        <td><%= transaction.first_payment_reference_id %></td>
        <td><%= transaction.second_payment_reference_id %></td>
        <td><%= transaction.gateway_error_code %></td>
        <td><%= transaction.gateway_error_msg %></td>
        <td>
          <span
          <% if transaction.status != 'SUCCESS' %>class='alert-danger'
          <% else %>class='alert-success' <% end %>>
          <%= transaction.status %>
          </span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#payment_<%= payment.payment_id %>').dataTable({
      "dom": "t",
      "paginate": false
    });
  });
<% end %>
