<div class="page-header">
  <h3>Payments</h3>
</div>
<table class="table table-condensed table-striped data-table">
  <thead>
    <tr>
      <th>Requested date</th>
      <th>Effective date</th>
      <th>Total amount</th>
      <th>Paid amount</th>
      <th>Payment method</th>
      <th>External payment id / Secondary payment id</th>
      <th>Retry count</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% if @payments.present? %>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= format_date(payment.requested_date, @account.timezone).html_safe if payment.requested_date.present? %></td>
          <td><%= format_date(payment.effective_date, @account.timezone).html_safe if payment.effective_date.present? %></td>
          <td><%= humanized_money_with_symbol payment.amount_to_money %> (<%= payment.currency %>)</td>
          <td><%= humanized_money_with_symbol payment.paid_amount_to_money %> (<%= payment.currency %>)</td>
          <td><%= "#{@payment_methods[payment.payment_id].plugin_info.type} #{@payment_methods[payment.payment_id].plugin_info.cc_type} #{@payment_methods[payment.payment_id].plugin_info.cc_last4}" if @payment_methods.present? and @payment_methods[payment.payment_id].present? and @payment_methods[payment.payment_id].plugin_info.present? %></td>
          <td><%= payment.ext_first_payment_id_ref %> <%= " / " if payment.ext_second_payment_id_ref.present? %> <%= payment.ext_second_payment_id_ref %></td>
          <td><%= payment.retry_count %></td>
          <td><%= payment.status %> <%=  payment.gateway_error_code unless payment.status == 'SUCCESS' %> <%= payment.gateway_error_msg %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
