<div class="search">

  <div class="column-block">

    <h1>Payments</h1>

    <table id="payments-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Refund amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#payments-table').dataTable({
    <% if @account.account_id.blank? %>
        "dom": "<'row'r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "pagingType": "full_numbers",
        "pageLength": <%= @limit %>,
        "displayStart": <%= @offset %>,
    <% else %>
        // No paging for per-account listings
        "dom": "t",
        "paging": false,
    <% end %>
    <% unless @ordering.blank? %>
        "order": [[ 0, "<%= @ordering %>" ]],
    <% end %>
    "processing": true,
    "serverSide": true,
    "search": {"search": "<%= @search_query %>"},
    "ajax": "<%= payments_pagination_path :format => :json %>"
  });
});
<% end %>
