<div class="search">
  <div class="column-block">
    <h1><%= I18n.translate('payments') %></h1>
    <%= render :partial => 'multi_functions_bar' %>
    <table id="payments-table" class="table table-condensed mobile-data" style="width:100%">
      <thead>
        <tr>
          <% Kaui.account_payments_columns.call()[0].each do |title| %>
            <th><%= title %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty"><%= I18n.translate('loading_data_from_server') %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  #payments-table td, #payments-table tr {
    white-space: nowrap;
  }
</style>

<%= javascript_tag do %>
$(document).ready(function() {
  var table = $('#payments-table').DataTable({
    "colReorder": {
      "enable": false
    },
    "stateSave": true,
    "stateSaveCallback": function(settings, data) {
      localStorage.setItem('DataTables_payments-table', JSON.stringify(data));
    },
    "stateLoadCallback": function(settings) {
      return JSON.parse(localStorage.getItem('DataTables_payments-table'));
    },
    "scrollX": true,
    <% if @account.account_id.blank? %>
      "dom": "<'row'r>t<'row'<'col-md-6'i><'col-md-6'p>>",
      "pagingType": <% if @max_nb_records.nil? -%>"simple"<% else -%>"full_numbers"<% end -%>,
      "language": {
        <!-- See DefaultPaginationSqlDaoHelper.java -->
        "info": <% if @max_nb_records.nil? -%>"Showing _START_ to _END_ of <%= number_with_delimiter(Kaui::EngineControllerUtil::SIMPLE_PAGINATION_THRESHOLD) -%>+ entries"<% else -%>"Showing _START_ to _END_ of _TOTAL_ entries"<% end -%>
      },
      "pageLength": <%= @limit %>,
      "displayStart": <%= @offset %>,
      "ajax": {
        url: "<%= payments_pagination_path(:ordering => @ordering, :format => :json) %>",
        dataSrc: function(json) {
          var colOrder = $('#payments-table').DataTable().colReorder.order();
          var reorderedData = json.data.map(function(row) {
            var newRow = [];
            for (var i = 0; i < colOrder.length; i++) {
              newRow.push(row[colOrder[i]]);
            }
            return newRow;
          });
          return reorderedData;
        }
      },
    <% else %>
      // No paging for per-account listings
      "dom": "t",
      "paging": false,
      "ajax": {
        url: "<%= payments_pagination_path(:format => :json) %>",
        dataSrc: function(json) {
          var colOrder = $('#payments-table').DataTable().colReorder.order();
          var reorderedData = json.data.map(function(row) {
            var newRow = [];
            for (var i = 0; i < colOrder.length; i++) {
              newRow.push(row[colOrder[i]]);
            }
            return newRow;
          });
          return reorderedData;
        }
      },
    <% end %>
    <% if @search_query.blank? %>
      "ordering": false,
    <% elsif !@ordering.blank? %>
      "order": [[ 0, "<%= @ordering %>" ]],
    <% end %>
    "processing": true,
    "serverSide": true,
    "search": {"search": "<%= @search_query %>"},
  });

  var searchQuery = "<%= @search_query %>";
  if (searchQuery) {
    table.search(searchQuery).draw();
  }

  <!-- When we don't know the total number of pages, we need to hide the legend and next button manually -->
  <% if @max_nb_records.nil? %>
      $('#payments-table').on('draw.dt', function() {
      var noMoreData = table.column(0)
                            .data()
                            .length == 0;
      $(".next.paginate_button").toggleClass("disabled", noMoreData);
      $(".dataTables_info").toggle(!noMoreData);
    });
  <% end %>
});
<% end %>
