<div class="search">

  <div class="column-block">

    <h1>Payment <%= @payment.payment_number %></h1>

    <% if @payment.target_invoice_id.present? %>
        <div class="row">
          <div class="col-md-5">
            <table class="transparent subtitle">
              <tr>
                <th>Invoice ID</th>
                <td><%= link_to @payment.target_invoice_id, account_invoice_path(@account.account_id, @payment.target_invoice_id) %></td>
              </tr>
              <tr>
                <th>External key</th>
                <td><%= @payment.payment_external_key %></td>
              </tr>
            </table>
          </div>
        </div>
    <% end %>

    <%= render :partial => 'kaui/payments/payment_table',
               :locals => {:payment_method => @payment_method,
                           :payment => @payment,
                           :account => @account,
                           :custom_fields => @custom_fields} %>

  </div>

</div>

<div class="column-block">

  <h1>Payment Method Details</h1>

  <div class="payment-details">
    <% if @payment_method.nil? %>
        The Payment method has been deleted.
    <% else %>
        <%= render :partial => 'kaui/payment_methods/payment_methods_details_table', :locals => {:payment_method => @payment_method} %>
    <% end %>
  </div>

</div>
