<% # Unclear why this url/method hack is needed %>
<%= form_for @allowed_user, :url => @allowed_user.persisted? ? admin_allowed_user_path(@allowed_user.id) : admin_allowed_users_path, :method => @allowed_user.persisted? ? :put : :post, :html => {:class => 'form-horizontal'} do |f| %>
    <input type="hidden" id="killbillManaged" value="<%= @is_killbill_managed %>" />
    <div class='form-group'>
      <div class="col-sm-offset-2 col-sm-9">
        <div class="checkbox">
          <%= f.label :external do %>
                  <%= check_box_tag :external, '1', false, { :disabled => !@allowed_user.id.blank? } %>Managed externally (LDAP, Okta, etc.)?
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :kb_username, 'Name', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :kb_username, :class => 'form-control', :required => true, :disabled => @allowed_user.persisted?, :readonly => @allowed_user.persisted? %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label  :password, 'Password', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= password_field_tag :password, nil, class:'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Description', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :roles, 'Roles', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :roles, @roles.join(','), :class => 'form-control' %>
        <p class="help-block">Comma separated, e.g. customer_support,finance.</p>
        <p class="help-block">Create a new role <%= link_to 'here', new_role_definition_path %>.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>

<!-- is the user been edited? -->
<% if @allowed_user.persisted? %>
  <div class="footer-notice managed-externally-notice">
    <div class="modal-footer">
      <div class="alert alert-warning">
        <strong>Notice</strong>
        <p id="noticeMessage">This user is managed externally (LDAP, Okta, etc.) or via Shiro configuration file.</p>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
    $(document).ready(function() {

        $('#external').change(function() {
            is_killbill_managed();
        });

        function is_killbill_managed() {
            var isKillbillManaged = isBlank($('#killbillManaged').val()) || $('#killbillManaged').val() == 'true';

            if ($('#external').is(":checked") || !isKillbillManaged) {
                $('#password').attr('disabled', true);
                $('#roles').attr('disabled', true);
                $('.help-block').hide();
                $('.managed-externally-notice').show();
            }
            else {
                $('#password').attr('disabled', false);
                $('#roles').attr('disabled', false);
                $('.help-block').show();
                $('.managed-externally-notice').hide();
            }
        }

        is_killbill_managed();
    });
<% end %>
