<div class="kaui-container kaui-users-index">
  <%= render partial: 'kaui/components/breadcrumb/breadcrumb', locals: {
    breadcrumbs: [
      { label: 'Settings', href: '/' },
      { label: "Users", href: '#' }
    ]
  } %>

  <div class="d-flex" style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_setting_sidebar' %>

    <div class="users-details w-100">
      <div class="d-flex flex-column">
        <div class="users-details-header">
          <h2>Users</h2>
          <span>
            <% if can? :create, Kaui::AdminTenant %>
              <%= link_to new_admin_allowed_user_path do %>
                <%= render "kaui/components/button/button", {
                  label: "Create User",
                  icon: "kaui/plus.svg",
                  variant: "outline-secondary d-inline-flex align-items-center gap-1",
                  type: "button",
                  html_class: "kaui-dropdown custom-hover",
                } %>
                <% end %>
            <% end %>
          </span>
        </div>

        <div class="mt-4">
         <% unless @allowed_users.empty? %>
            <table id="allowed-users-table" class="allowed-users-table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @allowed_users.each do |u| %>
                  <tr>
                    <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
                    <td><%= u.description %></td>
                    <td class="text-end">

                        
                      <%= render "kaui/components/button/button", {
                        label: 'Delete',
                        variant: "outline-secondary d-inline-flex align-items-center gap-1",
                        type: "button",
                        html_class: "kaui-button delete-button custom-hover",
                        html_options: { 
                          data: { 
                            confirm: "Are you sure?",
                            method: "delete",
                            turbo: false,
                            "url": kaui_engine.admin_allowed_user_path(u.id)
                          }
                        }
                      } %>
                      <%= link_to kaui_engine.edit_admin_allowed_user_path(u.id), :class => '' do %>
                        <%= render "kaui/components/button/button", {
                          label: "Edit",
                          variant: "outline-secondary d-inline-flex align-items-center gap-1",
                          type: "button",
                          html_class: "kaui-button edit-button custom-hover",
                        } %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
      $('#allowed-users-table').dataTable({
      "dom": "t",
      "paging": false
    });
  });
<% end %>
