<%
=begin%>
 <div class="search">

  <div class="column-block">

    <h1>Kaui users
      <% if can? :create, Kaui::AdminTenant %>
          <%= link_to '&nbsp;<i class="fa fa-plus-square"></i>'.html_safe, new_admin_allowed_user_path %>
      <% end %></h1>

    <% unless @allowed_users.empty? %>
        <table id="allowed-users-table" class="table table-condensed table-striped mobile-data">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <% @allowed_users.each do |u| %>
              <tr>
                <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
                <td><%= u.description %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

  </div>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
      $('#allowed-users-table').dataTable({
      "dom": "t",
      "paging": false
    });
  });
<% end %> 
<%
=end%>


<div class="kaui-container">
  <%= render partial: 'kaui/components/breadcrumb/breadcrumb', locals: {
    breadcrumbs: [
      { label: 'Settings', href: '/kaui' },
      { label: "Users", href: '#' }
    ]
  } %>

  <div class="d-flex" style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_setting_sidebar', 
      locals: {
        identifier: "Settings",
        controller: params[:controller],
        menu_items: [
          { label: 'Account', path: kaui_engine.admin_tenant_path(session[:tenant_id]), controller_suffix: "#{session[:tenant_id]}", icon_path: 'kaui/setting/account.svg' },
          { label: 'Tenants', path: kaui_engine.admin_tenants_path, controller_suffix: 'admin_tenants', icon_path: 'kaui/setting/tenants.svg' },
          { label: 'Users', path: kaui_engine.admin_allowed_users_path, controller_suffix: 'admin_allowed_users', icon_path: 'kaui/setting/users.svg' },
          { label: 'Tags', path: kaui_engine.tags_path, controller_suffix: 'tags', icon_path: 'kaui/setting/tags.svg' },
          { label: 'Tag Definitions', path: kaui_engine.tag_definitions_path, controller_suffix: 'tag_definitions', icon_path: 'kaui/setting/tag-definitions.svg' },
          { label: 'Custom Fields', path: kaui_engine.custom_fields_path, controller_suffix: 'custom_fields', icon_path: 'kaui/setting/custom-field.svg' },
          { label: 'Plugins', path: "#", controller_suffix: 'invoices', icon_path: 'kaui/setting/plugins.svg' },
          { label: 'Analytics', path: "#", controller_suffix: 'invoices', icon_path: 'kaui/setting/analytics.svg' },
        ]
      }
    %>

    <div class="users-details w-100">
      <div class="d-flex flex-column">
        <div class="users-details-header">
          <h2>Users</h2>
          <span>
            <% if can? :create, Kaui::AdminTenant %>
              <%= link_to new_admin_allowed_user_path do %>
                <%= render "kaui/components/button/button", {
                  label: "Create User",
                  icon: "kaui/plus.svg",
                  variant: "outline-secondary d-inline-flex align-items-center gap-1",
                  type: "button",
                  html_class: "kaui-dropdown custom-hover",
                } %>
                <% end %>
            <% end %>
          </span>
        </div>

        <div class="mt-4">
         <% unless @allowed_users.empty? %>
            <table id="allowed-users-table" class="allowed-users-table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <% @allowed_users.each do |u| %>
                  <tr>
                    <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
                    <td><%= u.description %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
      $('#allowed-users-table').dataTable({
      "dom": "t",
      "paging": false
    });
  });
<% end %>

<style>
  .users-details-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
  }

  .users-details-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin-bottom: 1.25rem;
  }

  table {
    overflow-x: auto;
    min-width: 100%;
  }

  table th {
    padding: 0.375rem 0.75rem !important;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: #717680;
    text-transform: capitalize;
  }

  table td {
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    padding: 1rem 0.5rem !important;
    line-height: 1.125rem !important;
    text-align: start;
    color: #535862 !important;
    text-transform: capitalize !important;
  }

  table thead tr th::after {
    content: "" !important;
    display: inline-block !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 0.75rem 0.75rem !important;
    position: absolute !important;
    right: 0.5rem !important;
    top: 45% !important;
    transform: translateY(-50%) !important;
  }

  table thead tr th::before {
    content: "" !important;
    display: inline-block !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 0.75rem 0.75rem !important;
    position: absolute !important;
    right: 0.5rem !important;
    bottom: 45% !important;
    transform: translateY(50%) !important;
  }
</style>
