<div class="kaui-container">
  <div class="user-details-container">
    <div class="d-flex flex-column">
      <div class="user-details-header mb-3">
        <div class="d-flex align-items-start flex-column">
          <h2>User details</h2>
        </div>
        <span>
          <%= render "kaui/components/button/button", {
            label: 'Delete',
            variant: "outline-secondary d-inline-flex align-items-center gap-1",
            type: "button",
            html_class: "kaui-button delete-button custom-hover",
            html_options: { 
              data: { 
                confirm: "Are you sure?",
                method: "delete",
                turbo: false, # Optional: disable Turbo if using Rails Turbo
                "url": kaui_engine.admin_allowed_user_path(@allowed_user.id)
              },
              onclick: "if (confirm(this.dataset.confirm)) { Rails.ajax({ url: this.dataset.url, type: this.dataset.method }); }"
            }
          } %>

          <%= link_to kaui_engine.edit_admin_allowed_user_path(@allowed_user.id), 
                      :class => '' do %>
            <%= render "kaui/components/button/button", {
                  label: "Edit",
                  icon: "kaui/account/edit.svg", 
                  variant: "outline-secondary d-inline-flex align-items-center gap-1",
                  type: "button",
                  html_class: "kaui-dropdown custom-hover",
                } %>
          <% end %>

        </span>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex flex-column">
          <b>Name:</b> <span><%= @allowed_user.kb_username %></span>
        </div>
        <div class="col-md-4 d-flex flex-column">
          <b>Description:</b> <span><%= @allowed_user.description %></span>
        </div>
        <div class="col-md-4 d-flex flex-column">
          <b>Roles:</b> <span><%= @roles.join(', ') %></span>
        </div>
      </div>
    </div>
  </div>
</div>


<% if can? :create, Kaui::AdminTenant %>
  <div class="kaui-container mt-4">
    <div class="user-details-container">
      <div class="d-flex flex-column">
        <div class="user-details-header mb-3">
          <div class="d-flex align-items-start flex-column">
            <h2>Configured tenants</h2>
          </div>
          <span>
          </span>
        </div>
        <div>
          <%= form_for @allowed_user, :url => {:action => :add_tenant}, :html => {:method => :post, :class => 'form-horizontal'} do |f| %>
              <%= f.hidden_field(:id) %>

              <div class='form-group'>
                <div class="col-sm-offset-2 col-sm-10">
                  <% @tenants.each do |tenant| %>
                      <div class="checkbox pb-2">
                        <label class="d-flex align-items-center gap-2 control-label">
                          <%= check_box_tag "tenant_#{tenant.id}", tenant.id, @allowed_user.kaui_tenants.map(&:id).include?(tenant.id), :disabled => !current_user.root?, class: "pt-2"  %>
                          <span><%= tenant.name || tenant.api_key %></span>
                        </label>
                      </div>
                  <% end %>
                </div>
              </div>
              <% unless !current_user.root? %>
                <div class="form-group d-flex justify-content-end pt-3 border-top">
                  <%= render "kaui/components/button/button", {
                    label: 'Close',
                    variant: "outline-secondary d-inline-flex align-items-center gap-1",
                    type: "button",
                    html_class: "kaui-button custom-hover mx-2",
                    html_options: {
                      id: "closeButton",
                      onclick: "window.history.back();"
                    }
                  } %>
                  <%= render "kaui/components/button/button", {
                    label: 'Save User',
                    variant: "outline-secondary d-inline-flex align-items-center gap-1",
                    type: "submit",
                    html_class: "kaui-dropdown custom-hover",
                  } %>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<style>
  .user-details-container {
    max-width: 80rem;
    width: 100%;
  }

  .user-details-container .user-details-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
  }

  .user-details-container .user-details-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  .user-details-container span {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #717680;
    margin: 0;
  }

  .user-details-container b {
    display: block;
    margin-bottom: 0.25rem;
    color: #414651 !important;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }

  .delete-button {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;
    color: #D92D20 !important;
    font-weight: 500;
    padding-right: 0.3125rem !important;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0 0.625rem;
  }

</style>
