<div class="kaui-container kaui-tags-index">
  <%= render partial: 'kaui/components/breadcrumb/breadcrumb', locals: {
    breadcrumbs: [
      { label: 'Settings', href: '/' },
      { label: "Tags", href: '#' }
    ]
  } %>

  <div class="d-flex" style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_setting_sidebar' %>

    <div class="tags-details w-100">
      <div class="d-flex flex-column">
        <div class="tags-details-header">
          <h2>Tags</h2>
          <span>
          </span>
        </div>

        <div class="mt-4 w-100">
         <table id="tags-table" class="tags-table">
          <thead>
          <tr>
            <th>Tag ID</th>
            <th>Object ID</th>
            <th>Object type</th>
            <th>Tag definition name</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    var table = $('#tags-table').DataTable({
      "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
      "pagingType": <% if @max_nb_records.nil? -%>"simple"<% else -%>"full_numbers"<% end -%>,
      "language": {
        "info": <% if @max_nb_records.nil? -%>"Showing _START_ to _END_ of <%= number_with_delimiter(Kaui::EngineControllerUtil::SIMPLE_PAGINATION_THRESHOLD) -%>+ entries"<% else -%>"Showing _START_ to _END_ of _TOTAL_ entries"<% end -%>
      },
      "pageLength": <%= @limit %>,
      "displayStart": <%= @offset %>,
      <% unless @ordering.blank? %>
        "order": [[ 0, "<%= @ordering %>" ]],
      <% end %>
      "processing": true,
      "serverSide": true,
      "search": {"search": "<%= @search_query %>"},
      "ajax": "<%= tags_pagination_path(:ordering => @ordering, :format => :json) %>"
    });

    $('#tags-table').on('draw.dt', function() {
      // Custom logic for column 3 wrapping in a span
      $('#tags-table tbody tr').each(function () {
        const $td = $(this).find('td:nth-of-type(3)');
        const content = $td.text().trim();
        $td.html(`<span>${content}</span>`);
      });

      <% if @max_nb_records.nil? %>
        var noMoreData = table.column(0).data().length == 0;
        $(".next.paginate_button").toggleClass("disabled", noMoreData);
        $(".dataTables_info").toggle(!noMoreData);
      <% end %>
    });
  });
<% end %>
