<%= form_for(@transaction) do |f| %>
    <fieldset>
      <% if @account_id.present? %>
          <div class="control-group">
            <%= label_tag :account_id, 'Account id:', :class => 'control-label' %>
            <div class="controls">
              <%= text_field_tag :account_id, @account_id, :class => 'input-xlarge disabled', :readonly => true %>
            </div>
          </div>
      <% end %>
      <% if @payment_method_id.present? %>
          <div class="control-group">
            <%= label_tag :payment_method_id, 'Payment method id:', :class => 'control-label' %>
            <div class="controls">
              <%= text_field_tag :payment_method_id, @payment_method_id, :class => 'input-xlarge disabled', :readonly => true %>
            </div>
          </div>
      <% end %>
      <% if @transaction.payment_id.present? %>
          <div class="control-group">
            <%= f.label :payment_id, 'Payment id:', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :payment_id, :class => 'input-xlarge disabled', :readonly => true %>
            </div>
          </div>
      <% end %>
      <div class="control-group">
        <%= f.label :transaction_type, 'Transaction type', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :transaction_type, %w(AUTHORIZE CAPTURE CHARGEBACK CREDIT PURCHASE REFUND VOID), {}, :class => 'input-medium' %>
        </div>
      </div>
      <% unless @transaction.transaction_type == 'VOID' %>
          <div class="control-group">
            <%= f.label :amount, 'Amount', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :amount, :id => 'amount', :class => 'input-small' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :currency, 'Currency', :class => 'control-label' %>
            <div class="controls">
              <%= f.select :currency, currencies, {}, :class => 'input-small' %>
            </div>
          </div>
      <% end %>
      <% unless @transaction.payment_id.present? %>
          <div class="control-group">
            <%= f.label :payment_external_key, 'Payment external key', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :payment_external_key, :class => 'input-medium' %>
            </div>
          </div>
      <% end %>
      <div class="control-group">
        <%= f.label :transaction_external_key, 'Transaction external key', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :transaction_external_key, :class => 'input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :reason, 'Reason', :class => 'control-label' %>
        <div class="controls">
          <%= select_tag :reason, options_for_select(Kaui::Payment::SAMPLE_REASON_CODES) %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :comment, 'Comment', :class => 'control-label' %>
        <div class="controls">
          <%= text_area_tag :comment, '', :rows => 3, :class => 'input-xlarge' %>
        </div>
      </div>
      <div class='form-actions'>
        <%= f.submit 'Create', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
