<!DOCTYPE html>
<html>
  <%= render :template => 'kaui/layouts/kaui_header' %>
  <body>
  <%= render :template => 'kaui/layouts/kaui_navbar' %>

  <% if params[:account_id].present? %>
      <%= render :template => 'kaui/layouts/kaui_account_navbar' %>
  <% end %>

  <div class="container">
    <%= render :template => 'kaui/layouts/kaui_flash' %>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render :template => 'kaui/layouts/kaui_footer' %>
  </body>
</html>
