<header class="main-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if signed_in? %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <% end %>
        <%= link_to '', kaui_engine.home_path, class: 'logo navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="navbar-menu">

        <% if user_signed_in? -%>
            <% if tenant_selected? %>
              <%= form_tag kaui_engine.search_path,
                class: 'navbar-form navbar-left',
                role: 'search', id: 'searchform', method: 'get' do %>
                <div>
                    <%= text_field_tag :q, '', :placeholder => 'Search', class: 'form-control' %>
                  </div>
                  <%= submit_tag 'Search' %>
                <% end %>
            <% end %>

            <ul class="nav navbar-nav">
              <% if can?(:create, Kaui::Account) && tenant_selected? %>
                <li>
                  <%= link_to kaui_engine.new_account_path do %>
                    <span class="fa fa-plus-square"></span>&nbsp;Create new account
                  <% end %>
                </li>
              <% end %>
              <% if tenant_selected? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="visible-xs icon-label">Tags</span>
                    <span class="fa fa-tags"></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Tags', kaui_engine.tags_path %>
                    </li>
                    <li>
                      <%= link_to 'Tag definitions', kaui_engine.tag_definitions_path %>
                    </li>
                    <li>
                      <%= link_to 'Custom Fields', kaui_engine.custom_fields_path %>
                    </li>
                  </ul>
                </li>
                <% if can? :view, Kaui::AdminTenant %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="visible-xs icon-label">Settings</span>
                      <span class="fa fa-cogs"></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Users', kaui_engine.admin_allowed_users_path %>
                      </li>
                      <li>
                        <%= link_to 'Tenants', kaui_engine.admin_tenants_path %>
                      </li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>

            <ul class="navbar navbar-right">
              <li class="dropdown navbar-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="visible-xs icon-label">User</span>
                  <span class="fa fa-user"></span>
                  <span class="caret"></span>

                  <ul class="dropdown-menu">
                    <li><%= session[:kb_tenant_name].present? ? "#{current_user.kb_username} / #{session[:kb_tenant_name]}" : current_user.kb_username %></li>
                    <li><%= link_to 'Sign Out', kaui_engine.destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </a>
              </li>
            </ul>

        <% end %>


      </div>
    </div>

  </nav>
</header>
