<header>
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <%= link_to image_tag('kaui/logo.png', :alt => 'Kill Bill Logo'), kaui_engine.home_path %>

        <% if user_signed_in? -%>
            <%= form_tag search_path, :role => 'search', :id => 'searchform', :method => 'get' do %>
                <%= text_field_tag :q, '', :placeholder => 'Search' %>
                <%= submit_tag 'Search' %>
            <% end %>

            <%= link_to '<i class="fa fa-plus-square"></i>&nbsp;Create new account'.html_safe, kaui_engine.new_account_path %>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="row">

          <div class="col-xs-8 text-center">
            <nav>
              <ul>
                <% if user_signed_in? -%>
                    <li><%= link_to 'Tags', kaui_engine.tags_path %></li>
                    <li><%= link_to 'Tag definitions', kaui_engine.tag_definitions_path %></li>
                    <li><%= link_to 'Custom Fields', kaui_engine.custom_fields_path %></li>
                    <% if can? :view, Kaui::AdminTenant %>
                        <li><%= link_to 'Users', kaui_engine.admin_allowed_users_path %></li>
                        <li><%= link_to 'Tenants', kaui_engine.admin_tenants_path %></li>
                    <% end %>
                <% end %>
              </ul>
            </nav>
          </div>

          <div class="col-xs-4 text-right">
            <nav>
              <ul>
                <% if user_signed_in? -%>
                    <li><%= session[:kb_tenant_name].present? ? "#{current_user.kb_username} / #{session[:kb_tenant_name]}" : current_user.kb_username %></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                <% end %>
              </ul>
            </nav>
          </div>

        </div>
      </div>

    </div>
  </div>
</header>
