<header class="main-header">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <%= link_to kaui_engine.home_path do %>
          <%= image_tag('kaui/logo.png', :alt => 'Kill Bill Logo', class: 'logo') %>
        <% end %>

        <% if user_signed_in? -%>
            <% if tenant_selected? %>
                <%= form_tag kaui_engine.search_path, :role => 'search', :id => 'searchform', :method => 'get' do %>
                    <%= text_field_tag :q, '', :placeholder => 'Search' %>
                    <%= submit_tag 'Search' %>
                <% end %>
            <% end %>

            <% if can?(:create, Kaui::Account) && tenant_selected? %>
                <%= link_to '<i class="fa fa-plus-square"></i>&nbsp;Create new account'.html_safe, kaui_engine.new_account_path %>
            <% end %>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="row">

          <div id="main-menu" class="col-xs-6">

            <% if user_signed_in? && tenant_selected? -%>
                <div class="tag-bar tag-bar-no-border">

                  <div class="tag-select" onclick="void(0)">
                    <span><i class="fa fa-tags"></i><i class="fa fa-caret-down"></i></span>

                    <div class="tag-select-box">
                      <%= link_to 'Tags', kaui_engine.tags_path %>
                      <%= link_to 'Tag definitions', kaui_engine.tag_definitions_path %>
                      <%= link_to 'Custom Fields', kaui_engine.custom_fields_path %>
                    </div>
                  </div>

                  <% if can? :view, Kaui::AdminTenant %>
                      <div class="tag-select" onclick="void(0)">
                        <span><i class="fa fa-cogs"></i><i class="fa fa-caret-down"></i></span>

                        <div class="tag-select-box">
                          <%= link_to 'Users', kaui_engine.admin_allowed_users_path %>
                          <%= link_to 'Tenants', kaui_engine.admin_tenants_path %>
                        </div>
                      </div>
                  <% end %>

                </div>
            <% end %>

          </div>

          <% if user_signed_in? -%>
            <div class="col-xs-6 text-right">
              <nav>
                <ul class="account-menu">
                  <li><%= session[:kb_tenant_name].present? ? "#{current_user.kb_username} / #{session[:kb_tenant_name]}" : current_user.kb_username %></li>
                  <li><%= link_to 'Sign Out', kaui_engine.destroy_user_session_path, :method => :delete %></li>
                </ul>
              </nav>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</header>
