<!DOCTYPE html>
<html>
<%= render :template => 'kaui/layouts/kaui_header' %>
    <body>
        <% if user_signed_in? -%>
            <%= render :template => 'kaui/layouts/kaui_navbar' %>
        <% end %>

        <div class="container-fluid auth-container">
            <%= render :template => 'kaui/layouts/kaui_flash' %>
            <%= yield %>
        </div>
        <%= render :template => 'kaui/layouts/kaui_footer' %>
    </body>
</html>
