<div class="functions-container">
  <button class="btn btn-default download-button-right" type="button" id="modalDownloadButton">
    <i class="glyphicon glyphicon-download-alt"></i>
    <strong>Download CSV</strong>
  </button>
</div>

<div class="modal fade" id="downloadCsvModal" tabindex="-1" role="dialog" aria-labelledby="downloadCsvModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="downloadCsvModalLabel">Download</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="downloadCsvForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate">Effective Date:</label>
                <input type="text" class="form-control" id="startDate" name="startDate">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endDate">To:</label>
                <input type="text" class="form-control" id="endDate" name="endDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-check">
                <div>
                  <input type="radio" id="customDate" name="download_option" value="customDate">
                  <label for="customDate">Custom date</label>
                </div>
                <div>
                  <input type="radio" id="allData" name="download_option" value="all">
                  <label for="allData">All events</label>
                </div>
                <div>
                  <input type="radio" id="thisWeek" name="download_option" value="thisWeek">
                  <label for="thisWeek">This week</label>
                </div>
                <div>
                  <input type="radio" id="thisMonth" name="download_option" value="thisMonth">
                  <label for="thisMonth">This month</label>
                </div>
                <div>
                  <input type="radio" id="thisYear" name="download_option" value="thisYear">
                  <label for="thisYear">This year</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="downloadButton">Download</button>
      </div>
    </div>
  </div>
</div>

<style>
  .download-button-right {
    float: right;
    margin-left: 10px;
    background-color: white;
    color: black;
    text-transform: none;
    border: 1px solid #ccc;
    padding: 8px 15px;
  }

  .functions-container {
    display: flex;
    justify-content: flex-end;
  }
</style>

<%= javascript_tag do %>
$(document).ready(function() {
  $('.dropdown-menu').on('click', 'input[type="checkbox"], label', function(event) {
    event.stopPropagation();
  });

  $('#modalDownloadButton').click(function() {
    $('#downloadCsvModal').modal('show');
  });

  $('#startDate, #endDate').datepicker({
    dateFormat: 'yy-mm-dd'
  });

  $('#downloadCsvModal').on('show.bs.modal', function (e) {
    $('#allData').prop('checked', true);
    $('#startDate, #endDate').prop('disabled', true);
    $('#startDate').val(null);
    $('#endDate').val(null);
  });

  $('#allData').change(function() {
    $('#startDate').val(null);
    $('#endDate').val(null);
    $('#startDate, #endDate').prop('disabled', true);
  });

  $('#thisWeek').change(function() {
    if ($(this).is(':checked')) {
      setDateRange("week");
    }
  });

  $('#thisMonth').change(function() {
    if ($(this).is(':checked')) {
      setDateRange("month");
    }
  });

  $('#thisYear').change(function() {
    if ($(this).is(':checked')) {
      setDateRange("year");
    }
  });

  $('#customDate').change(function() {
    if ($(this).is(':checked')) {
      setDateRange("day");
      $('#startDate, #endDate').prop('disabled', false);
    }
  });

  var downloadButton = document.getElementById('downloadButton');
  if (downloadButton) {
    downloadButton.addEventListener('click', function() {
      event.preventDefault();
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();
      var downloadAll = $('#allData').is(':checked');
      var eventToFilter = $('#event_types').val().toUpperCase()
      
      if (downloadAll) {
        window.open("<%= download_account_timeline_path %>?account_id=<%=@account.account_id%>&eventType="+eventToFilter, '_blank');
      } else {
        window.open("<%= download_account_timeline_path %>?account_id=<%=@account.account_id%>&startDate="+startDate+"&endDate="+endDate+"&eventType="+eventToFilter, '_blank');
      }
    });
  }
});
<% end %>
