<div class="info-wrapper">
  <table id="invoice-table" class="invoice-table">
    <thead>
    <tr>
      <% unless (@available_invoice_item_tags ||= nil).blank? && (@custom_fields_per_invoice_item ||= nil).blank? %>
          <th></th>
      <% end %>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 0 : 1 %>">
        <div class="header-content">
          <span class="header-text">Description</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 1 : 2 %>">
        <div class="header-content">
          <span class="header-text">Start date</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 2 : 3 %>">
        <div class="header-content">
          <span class="header-text">End date</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 3 : 4 %>">
        <div class="header-content">
          <span class="header-text">Subscription ID</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 4 : 5 %>">
        <div class="header-content">
          <span class="header-text">Amount</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th class="sortable-header" data-column="<%= (@available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank?) ? 5 : 6 %>">
        <div class="header-content">
          <span class="header-text">Comments</span>
          <div class="sort-icons">
            <%= image_tag "kaui/sort-up.svg", class: "sort-icon sort-asc" %>
            <%= image_tag "kaui/sort-down.svg", class: "sort-icon sort-desc" %>
          </div>
        </div>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @invoice.items.each do |item| %>
        <tr id=<%= "invoice_item_#{item.invoice_item_id}_#{item.linked_invoice_item_id}" %>>
          <% unless @available_invoice_item_tags.blank? && @custom_fields_per_invoice_item.blank? %>
              <td class="inline-row-tag-bar">
                <div class="tag-bar tag-bar-no-border">
                  <% unless @available_invoice_item_tags.blank? %>
                      <div class="tag-select" onclick="void(0)">
                        <span><i class="fa fa-tag"></i><i class="fa fa-caret-down"></i></span>

                        <div class="tag-select-box">
                          <strong>Tag as:</strong>

                          <%= render :partial => 'kaui/bundle_tags/form_bar',
                                     :locals => {:params => { :invoice_id => item.invoice_id, :account_id => item.account_id},
                                                 :tag_names => (@tags_per_invoice_item[item.invoice_item_id] || []).map { |tag| tag.tag_definition_name },
                                                 :available_tags => @available_invoice_item_tags,
                                                 :update_tags_path => update_invoice_items_tags_path(item.invoice_item_id)
                                     } %>
                        </div>
                      </div>
                  <% end %>

                  <%= render :partial => 'kaui/custom_fields/list_bar',
                             :locals => {:custom_fields => @custom_fields_per_invoice_item[item.invoice_item_id] || []} %>
                </div>

              </td>
          <% end %>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;">
            <span id="<%= item.invoice_item_id %>-popover" class="object-id-popover" data-id="<%= item.invoice_item_id %>" data-title="Invoice Item ID">
              <%= item.pretty_plan_name.blank? || !item.item_type.in?(%w{USAGE RECURRING}) ? item.description : item.pretty_plan_name %>
            </span>
          </td>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;"><%= item.start_date.html_safe if item.start_date %></td>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;"><%= item.end_date.html_safe if item.end_date %></td>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;"><%= item.subscription_id %></td>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;"><%= humanized_money_with_symbol Kaui::InvoiceItem.amount_to_money(item) %>
            (<%= item.currency %>)
          </td>
          <td onClick="hightlightLinkedItems('<%= item.invoice_item_id %>', '<%= item.linked_invoice_item_id %>'); return false;"><%= item.audit_logs.map { |log| log.comments }.compact.join('<br/>') if item.audit_logs.present? %></td>
          <td>
            <% if can? :item_adjust, Kaui::Invoice %>
                <nobr>
                  <%= link_to kaui_engine.edit_account_invoice_item_path(@invoice.account_id, item.invoice_item_id, :invoice_id => @invoice.invoice_id), :class => " #{'disabled' unless item.amount > 0}" do %>
                    <%= render "kaui/components/button/button", {
                      label: "Adjust",
                      variant: "outline-secondary d-inline-flex align-items-center gap-1",
                      type: "button",
                      html_class: "adjust-button kaui-button",
                    } %>
                  <% end %>
                </nobr>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="invoice-totals d-flex align-items-center justify-content-end gap-5">
    <div class="d-flex align-items-end justify-content-between mb-3 flex-column">
      <p>Invoice Total:</p>
      <p>Resulting available credits:</p>
      <p>Refunded:</p>
      <p>Balance:</p>
    </div>
    <div class="d-flex align-items-start justify-content-between mb-3 flex-column">
      <p><%= humanized_money_with_symbol @invoice.amount_to_money %> (<%= @invoice.currency %>)</p>
      <p><%= humanized_money_with_symbol @invoice.credit_adjustment_to_money %> (<%= @invoice.currency %>)</p>
      <p><%= humanized_money_with_symbol @invoice.refund_adjustment_to_money %> (<%= @invoice.currency %>)</p>
      <p><%= humanized_money_with_symbol @invoice.balance_to_money %> (<%= @invoice.currency %>)</p>
    </div>
  </div>

</div>

<script language="javascript">
    function hightlightLinkedItems(invoice_item_id, linked_invoice_item_id) {
        $("#invoice-table tr:gt(0)").each(function (index) {
            var ids = $(this).attr("id").split("_");
            var item_id = ids[2];
            var linked_item_id = ids[3];
            if ((invoice_item_id.length > 0 && item_id == invoice_item_id) ||
                    (linked_invoice_item_id.length > 0 && item_id == linked_invoice_item_id) ||
                    (invoice_item_id.length > 0 && invoice_item_id == linked_item_id)) {
                $(this).css("background", "yellow");
            } else {
                $(this).css("background", "none");
            }
        });
    }
    
    $(document).ready(function() {
        // Initialize tooltips for invoice item IDs
        if (typeof setObjectIdTooltip === 'function') {
            setObjectIdTooltip();
        }
    });
</script>
