<div class="search">

  <div class="column-block">
    <h1>Invoices</h1>
    <div class="invoice-bar">
      <div>
        <input type="text" id="invoice-search" placeholder="Search Invoice" />
        <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
        <button id="search-invoice-btn">Search</button>
      </div>
      <%= link_to 'Latest invoices', kaui_engine.invoices_path %>
    </div>
    <table id="invoices-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Number</th>
        <% (@account.account_id.blank? ? Kaui.invoice_search_columns : Kaui.account_invoices_columns).call()[0].each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<%= javascript_tag do %>
$(document).ready(function() {
  var table = $('#invoices-table').DataTable({
    <% if @account.account_id.blank? %>
        "dom": "<'row'r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "pagingType": <% if @max_nb_records.nil? -%>"simple"<% else -%>"full_numbers"<% end -%>,
        "language": {
          <!-- See DefaultPaginationSqlDaoHelper.java -->
          "info": <% if @max_nb_records.nil? -%>"Showing _START_ to _END_ of <%= number_with_delimiter(Kaui::EngineControllerUtil::SIMPLE_PAGINATION_THRESHOLD) -%>+ entries"<% else -%>"Showing _START_ to _END_ of _TOTAL_ entries"<% end -%>,
          "zeroRecords": "No matching records found, please click on Latest Invoices"
        },
        "pageLength": <%= @limit %>,
        "displayStart": <%= @offset %>,
        "ajax": "<%= invoices_pagination_path(:ordering => @ordering, :format => :json) %>",
    <% else %>
        // No paging for per-account listings
        "dom": "t",
        "paging": false,
        "ajax": "<%= invoices_pagination_path :format => :json %>",
    <% end %>
    <% if @search_query.blank? %>
        "ordering": false,
    <% elsif !@ordering.blank? %>
        "order": [[ 0, "<%= @ordering %>" ]],
    <% end %>
    "processing": true,
    "serverSide": true,
    "search": {"search": "<%= @search_query %>"},
  });

  <!-- When we don't know the total number of pages, we need to hide the legend and next button manually -->
  <% if @max_nb_records.nil? %>
    $('#invoices-table').on('draw.dt', function() {
      var noMoreData = table.column(0)
                            .data()
                            .length == 0;
      $(".next.paginate_button").toggleClass("disabled", noMoreData);
      $(".dataTables_info").toggle(!noMoreData);
    });
  <% end %>

  function searchInvoices () {
    var invoiceSearch = document.getElementById('invoice-search').value;
    table.search( invoiceSearch ).draw();
  }

  var searchInput = document.getElementById('invoice-search');

  searchInput.addEventListener("keypress", function(event) {
    if (event.keyCode == 13) {
      searchInvoices();
    }
  });

  $('#search-invoice-btn').on("click", function(event) {
    searchInvoices();
  });
});
<% end %>
