<%= form_tag invoices_path, :class => "form-horizontal", :method => :get do %>
  <fieldset>
    <legend>Please enter invoice id</legend>
    <div class="control-group">
      <label class="control-label" for="invoice_id">Invoice</label>
      <div class="controls">
        <%= text_field_tag 'invoice_id', nil, :class => "input-xlarge", :id => "invoice_id", :placeholder => "InvoiceId, InvoiceNumber" %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Search", :class =>"btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<table id="invoices-table" class="table table-condensed">
  <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Invoice number</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="1" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#invoices-table').dataTable({
    "sDom": "<'row-fluid'<'span6'l><'span6'>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "<%= invoices_pagination_path :format => :json %>"
  });
});
<% end %>
