<div class="search">

  <div class="column-block">

    <h1>
      Invoice <%= @invoice.invoice_number %>
      <% unless @invoice.invoice_number.blank? %>
        <%= Kaui.customer_invoice_link.call(@invoice, self) %>
      <% end %>
    </h1>

    <% dry_run = @invoice.invoice_number.blank? %>
    <% if dry_run %>
        <div class="alert alert-warning">
          This is a dry-run invoice.
          <% if can? :trigger, Kaui::Invoice %>
              To persist it, <%= link_to 'trigger an invoice run', kaui_engine.trigger_invoice_path(:account_id => @invoice.account_id, :target_date => @invoice.target_date), :method => :post %>.
          <% end %>
        </div>
    <% elsif @invoice.status == 'DRAFT' %>
        <div class="alert alert-warning">
          This is a DRAFT invoice.
          <%= link_to 'Commit it', kaui_engine.commit_invoice_path(:id => @invoice.invoice_id), :method => :post %>.
        </div>
    <% elsif @invoice.status == 'VOID' %>
        <div class="alert alert-danger">
          This invoice has been voided.
        </div>
    <% end %>
    <% unless @invoice_tags.find { |t| t.tag_definition_name == 'WRITTEN_OFF' }.nil? %>
      <div class="alert alert-danger">
        This invoice has been written off.
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-3">
        <table class="transparent subtitle">
          <tr>
            <th>Invoice date</th>
            <td><%= @invoice.invoice_date %></td>
          </tr>
          <tr>
            <th>Target date</th>
            <td><%= @invoice.target_date %></td>
          </tr>
        </table>
      </div>
    </div>

    <%= render :partial => 'kaui/invoices/invoice_table', :locals => {:dry_run => dry_run} %>

  </div>

</div>

<% unless @payments.empty? %>
  <div class="row">
    <div class="col-md-12">

      <div class="search">

        <div id="invoice-payments" class="column-block">

          <h1 class="text-capitalize">Payment Details</h1>

          <% @payments.each_with_index do |payment, idx| %>

              <div class="row">
                <div class="col-md-5">
                  <table class="transparent subtitle">
                    <tr>
                      <th>Payment</th>
                      <td><%= link_to payment.payment_number, account_payment_path(@account.account_id, payment.payment_id) %></td>
                    </tr>
                    <tr>
                      <th>External key</th>
                      <td><%= payment.payment_external_key %></td>
                    </tr>
                  </table>
                </div>
              </div>

              <%= render :partial => 'kaui/payments/payment_table',
                         :locals => {:payment => payment,
                                     :account => @account,
                                     :payment_method => @payment_methods[payment.payment_id],
                                     :custom_fields => @payment_custom_fields[payment.payment_id] || []} %>

              <% if idx < @payments.size - 1 %>
                  <hr class="breathe"/>
              <% end %>
          <% end %>

        </div>

      </div>

    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  function disableLinks() {
    $('a.btn.disabled').click(function (e) {
      // preventDefault is not enough due to the confirmation popup
      return false;
    });
  }

  $(document).ready(function() {
    disableLinks();

    $('#invoice-table').dataTable({
      "dom": "t",
      "paging": false,
      "order": [],
      "columns": [
        null,
        null,
        null,
        null,
        null,
        null,
        { "orderable": false }
      ]
    });
  });
<% end %>
