<div class="search">

  <div class="column-block">

    <h1>Invoice <%= @invoice.invoice_number %></h1>

    Invoice Date: <%= @invoice.invoice_date.html_safe %>
    <br/>
    Target Date: <%= @invoice.target_date.html_safe %>

    <%= render :partial => 'invoice_table' %>

  </div>

</div>

<% unless @payments.empty? %>
    <div class="col-md-12">

      <div class="search">

        <div id="invoice-payments" class="column-block">

          <h1 class="text-capitalize">Payment Details</h1>

          <% @payments.each do |payment| %>

              <h3>Payment <%= link_to payment.payment_number, account_payment_path(@account.account_id, payment.payment_id) %></h3>

              <%= render :partial => 'kaui/payments/payment_table',
                         :locals => {:payment => payment, :account => @account, :payment_methods => @payment_methods} %>

          <% end %>

        </div>

      </div>

    </div>
<% end %>

<%= link_to 'View customer invoice html', kaui_engine.show_html_invoice_path(@invoice.invoice_id), :class => 'btn', :target => '_blank' unless @invoice.blank? %>
<%= javascript_tag do %>
  function disableLinks() {
    $('a.btn.disabled').click(function (e) {
      // preventDefault is not enough due to the confirmation popup
      return false;
    });
  }

  $(document).ready(function() {
    disableLinks();

    $('#invoice-table').dataTable({
      "dom": "t",
      "paging": false,
      "order": [[ 1, "asc" ]],
      "columns": [
        null,
        null,
        null,
        null,
        null,
        null,
        { "orderable": false }
      ]
    });
  });
<% end %>
