<%= form_for @chargeback, :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :payment_id %>
    <%= f.hidden_field :currency %>

    <div class="form-group">
      <%= f.label :amount, 'Amount', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :amount, :step => :any, :id => 'chargeback_amount', :class => 'form-control' %>
        <p class="help-block">Currency: <%= @chargeback.currency %></p>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :reason, 'Reason', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= select_tag :reason, options_for_select(Kaui.chargeback_reason_codes), :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= label_tag :cancel_all_subs do %>
              <%= check_box_tag :cancel_all_subs %>Cancel account subscriptions?
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :comment, 'Comment', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
