<div class="page-header">
  <h1>Apply Payment Chargeback</h1>
</div>
<%= form_for(@chargeback, :url => { :action => :create }, :html => { :class => "form-horizontal" }) do |f| %>
  <%= hidden_field_tag :account_id, @account_id %>
  <%= hidden_field_tag :invoice_id, @invoice_id %>
  <%= f.hidden_field :payment_id %>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls">
        <label class="checkbox">
          <%= DateTime.now.to_s(:pretty) %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Invoice number</label>
      <div class="controls">
        <label class="checkbox">
            <%= @invoice.invoice_number %><br/>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Account name</label>
      <div class="controls">
        <label class="checkbox">
          <%= @account.name %><br/>
          <%= @account.email %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Status</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.status %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Payment method</label>
      <div class="controls">
        <label class="checkbox">
          <% if @payment_method.present? %>
            <%= @payment_method.type %> <%= @payment_method.card_type %> <%= @payment_method.mask_number %>
          <% else %>
            <p class="text-error">DELETED</p>
          <% end %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Payment</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.amount %> <%= @account.currency %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">External Payment Id</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.ext_first_payment_id_ref %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">External Secondary Payment Id</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.ext_second_payment_id_ref %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :chargeback_amount, "Chargeback amount", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :chargeback_amount, :id => 'chargeback_amount', :class => 'input-small' %>
        <p class="help-inline"><%= @account.currency %></p>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :reason, "Reason", :class => "control-label" %>
      <div class="controls">
        <%= select_tag :reason, options_for_select(Kaui::Chargeback::SAMPLE_REASON_CODES) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :comment, "Comment", :class => "control-label" %>
      <div class="controls">
        <%= text_area_tag :comment, "", :rows => 3, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Apply chargeback", :class =>"btn btn-primary" %>
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function() {
    $("#chargeback_amount").keydown(function(event) {
      preventNonNumericValues(event);
    });
  });
<% end %>
