<div class="page-header">
  <h3>Refunds</h3>
</div>
<table class="table table-condensed table-striped data-table">
  <thead>
    <tr>
      <th>Requested date</th>
      <th>Effective date</th>
      <th>Amount Refunded</th>
      <th>Adjusted</th>
      <th>Refund ID</th>
      <th>Payment ID</th>
    </tr>
  </thead>
  <tbody>
    <% if @payments.present? %>
      <% @payments.each do |payment| %>
        <% payment.refunds.each do |refund| %>
        <tr>
          <td><%= format_date(refund.requested_date, @account.timezone).html_safe if refund.requested_date.present? %></td>
          <td><%= format_date(refund.effective_date, @account.timezone).html_safe if refund.effective_date.present? %></td>
          <td><%= humanized_money_with_symbol refund.amount_to_money %> (<%= refund.currency %>)</td>
          <td><%= refund.adjusted %></td>
          <td><%= link_to refund.refund_id, refund_path(refund.refund_id) %></td>
          <td><%= refund.payment_id %></td>
        </tr>
        <% end #end refunds%>
      <% end #end payments%>
    <% end #end if payments present%>
  </tbody>
</table>
