<%= form_tag refunds_path, :class => "form-horizontal", :method => :get do %>
  <fieldset>
    <legend>Please enter either a refund or payment id</legend>
    <div class="control-group">
      <label class="control-label" for="refund_id">Refund or payment</label>
      <div class="controls">
        <%= text_field_tag "refund_id", nil, :class => "input-xlarge", :id => "refund_id" %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Search", :class =>"btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<table id="refunds-table" class="table table-condensed">
  <thead>
    <tr>
      <th>Refund ID</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Adjusted?</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="1" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#refunds-table').dataTable({
    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "<%= refunds_pagination_path :format => :json %>"
  });
});
<% end %>
