<div class="page-header">
  <h1>Refund Payment</h1>
</div>
<%= form_for(@refund, :url => { :action => :create }, :html => { :class => "form-horizontal" }) do |f| %>
  <%= hidden_field_tag :account_id, @account_id %>
  <%= hidden_field_tag :payment_id, @payment_id %>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls">
        <label class="checkbox">
          <%= DateTime.now.to_s(:pretty) %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Invoice number</label>
      <div class="controls">
        <label class="checkbox">
            <%= @invoice.invoice_number %><br/>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Account name</label>
      <div class="controls">
        <label class="checkbox">
          <%= @account.name %><br/>
          <%= @account.email %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Status</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.status %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Payment method</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.payment_method_id %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :adjusted, "Adjust Invoice?", :class => "control-label" %>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :adjusted %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Payment</label>
      <div class="controls">
        <label class="checkbox">
          <%= @payment.amount %> <%= @account.currency if @payment.amount.present? %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :refund_amount, "Refund amount", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :refund_amount, :value => @payment.amount, :class => 'input-small' %>
        <p class="help-inline"><%= @account.currency %></p>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :reason, "Reason", :class => "control-label" %>
      <div class="controls">
        <%= select_tag :reason, options_for_select(Kaui::Refund::SAMPLE_REASON_CODES) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :comment, "Comment", :class => "control-label" %>
      <div class="controls">
        <%= text_area_tag :comment, "", :rows => 3, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Create refund", :class =>"btn btn-primary" %>
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
