<% if @refunds.present? and @refunds.size > 0 %>
<div class="page-header">
  <h2>Refunds</h2>
</div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Refund id</th>
      <th>Payment id</th>
      <th>Amount</th>
      <th>Adjusted?</th>
      <th>Requested date</th>
      <th>Effective date</th>
      <th>Adjustments</th>
    </tr>
  </thead>
  <tbody>
    <% @refunds.each do |refund| %>
      <tr>
        <td><%= refund.refund_id %></td>
        <td><%= link_to refund.payment_id, payment_path(refund.payment_id) %></td>
        <td><%= refund.amount %>&nbsp;<%= refund.currency %></td>
        <td><%= refund.adjusted %></td>
        <td><%= format_date(refund.requested_date).html_safe %></td>
        <td><%= format_date(refund.effective_date).html_safe %></td>
        <td><%= refund.adjustments %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Refund info not found</p>
<% end %>