<div class="col-md-6 col-xs-12">

  <div class="column-block">

    <h1>Account Information
      <% if can? :update, Kaui::Account %>
          <%= link_to 'Edit',
                      kaui_engine.edit_account_path(@account.account_id),
                      :class => 'btn btn-xs' %>
      <% end %>
      <% if @children.size > 0 %>
          <%= link_to "Children (#{@children.size})",
                      kaui_engine.account_children_path(@account.account_id),
                      :class => 'btn btn-xs' %>
      <% end %>
      <% if can_close_account? && !account_closed? %>
        <%= link_to('<i class="fa fa-times"></i>Close'.html_safe, '#closeAccountModal',
                    :class => 'btn btn-xs text-danger',
                    data: {toggle: 'modal', name: @account.name || '(not set)', account_id: @account.account_id}) %>
      <% end %>
      <% unless @account.parent_account_id.nil? %>
          <span class="label label-info account-child-label">Child</span>
      <% end %>
      <% if @children.size > 0 %>
          <span class="label label-info account-child-label">Parent</span>
      <% end %>
    </h1>

    <% unless @tags.find { |tag| tag.tag_definition_name == '__PARK__' }.nil? %>
        <div class="alert alert-danger">
          This account is parked, meaning the system detected inconsistent state which could lead to mis-billing. For safety, no more invoices will be generated.
          <% if can? :trigger, Kaui::Invoice %>
              Once the data is fixed, you can unpark it by manually <%= link_to 'triggering an invoice run', kaui_engine.trigger_invoice_path(params.to_h), :method => :post %>.
          <% end %>
        </div>
    <% end %>

    <div class="info-wrapper">

      <div class="tag-bar tag-bar-breathe">

        <% unless @available_tags.blank? %>
          <div class="tag-select" onclick="void(0)">
            <span><i class="fa fa-tag"></i><i class="fa fa-caret-down"></i></span>

            <div class="tag-select-box">
              <strong>Tag As:</strong>
              <%= render :partial => 'kaui/account_tags/form_bar',
                         :locals => {:account_id => @account.account_id,
                                     :tag_names => @tags.map { |tag| tag.tag_definition_name },
                                     :available_tags => @available_tags} %>
            </div>
          </div>
        <% end %>

        <%= render :partial => 'kaui/custom_fields/list_bar',
                   :locals => {:custom_fields => @custom_fields} %>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="fix-position">
          <table class="transparent">
            <tr>
              <th>ID</th>
              <td><%= @account.account_id %></td>
            </tr>
            <tr>
              <th>External Key</th>
              <td><%= @account.external_key %></td>
            </tr>
            <tr>
              <th>Currency</th>
              <td><%= @account.currency %></td>
            </tr>
            <tr>
                <th>Timezone</th>
                <td><%= @account.time_zone %></td>
            </tr>
            <tr>
                <th>Locale</th>
                <td><%= @account.locale %></td>
            </tr>
            <tr>
                <th>Notes</th>
                <% if @account.notes %>
                    <td><textarea rows="3" class="form-control" readonly="true"><%= @account.notes %></textarea></td>
                <% else %>
                    <td>N/A</td>
                <% end %>
            </tr>
            <%= render :partial => 'parent',
                       :locals => {:account_parent => @account_parent} %>
          </table>
        </div>
        </div>
      </div>

    </div>

  </div>

</div>
