<div class="billing-details">
  <div class="d-flex flex-column">
    <div class="billing-details-header">
      <h2>Billing Information</h2>
      <span>
        <% if can?(:trigger, Kaui::Payment) || can?(:credit, Kaui::Account) || can?(:charge, Kaui::Account) %>
          <div class="tag-bar tag-bar-breathe">
            <div class="toggler">
              <div class="toggle">
                <div class="actions">
                  <!-- Payment, Credit then Charge. Same ordering as in the billing timeline -->

                  <% if can?(:trigger, Kaui::Payment) && @account.account_balance.present? && @account.account_balance > 0 %>
                    <%= link_to kaui_engine.pay_all_invoices_account_path(@account.account_id),
                                :method => :post do %>
                      <%= render "kaui/components/button/button", {
                            label: "Pay All Invoices",
                            icon: "kaui/account/pay-all.svg",
                            variant: "outline-secondary d-inline-flex align-items-center gap-1",
                            type: "button",
                            html_class: "kaui-button custom-hover",
                          } %>
                    <% end %>
                  <% end %>

                  <% if can? :charge, Kaui::Account %>
                    <%= link_to kaui_engine.new_account_charge_path(@account.account_id, :currency => @account.currency) do %>
                      <%= render "kaui/components/button/button", {
                            label: "Create Charge",
                            icon: "kaui/account/plus.svg",
                            variant: "outline-secondary d-inline-flex align-items-center gap-1",
                            type: "button",
                            html_class: "kaui-button custom-hover",
                          } %>
                    <% end %>
                  <% end %>

                  <% if can? :credit, Kaui::Account %>
                    <%= link_to kaui_engine.new_account_credit_path(@account.account_id, :currency => @account.currency) do %>
                      <%= render "kaui/components/button/button", {
                            label: "Add Credit",
                            icon: "kaui/plus.svg",
                            variant: "outline-secondary d-inline-flex align-items-center gap-1",
                            type: "button",
                            html_class: "kaui-dropdown custom-hover",
                          } %>
                    <% end %>
                  <% end %>

                  <% if deposit_plugin_available? %>
                    <%= link_to deposit_engine.collection_index_path(:account_id => @account.account_id, :currency => @account.currency) do %>
                      <%= render "kaui/components/button/button", {
                            label: "Create Deposit",
                            icon: "kaui/plus.svg",
                            variant: "outline-secondary d-inline-flex align-items-center gap-1",
                            type: "button",
                            html_class: "kaui-dropdown custom-hover",
                          } %>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </span>
    </div>

    <div class="">

      <%
=begin%>
 <div class="row">
  <div class="col-sm-12">
    <div class="fix-position account-info">

      <div class="account-info-item">
        <p class="label-title">Account balance:</p>
        <p>
          <% if @account.account_balance.nil? %>
            <span class='label'>N/A</span>
          <% elsif @account.account_balance <= 0 %>
            <span class="label label-success"><%= humanized_money_with_symbol @account.balance_to_money %></span>
          <% else %>
            <span class="label label-danger"><%= humanized_money_with_symbol @account.balance_to_money %></span>
          <% end %>
        </p>
      </div>

      <div class="account-info-item">
        <p class="label-title">Account credit:</p>
        <p>
          <% if @account.account_cba.nil? %>
            <span class='label'>N/A</span>
          <% elsif @account.account_cba >= 0 %>
            <span class="label label-success"><%= humanized_money_with_symbol @account.cba_to_money %></span>
          <% else %>
            <span class="label label-danger"><%= humanized_money_with_symbol @account.cba_to_money %></span>
          <% end %>
        </p>
      </div>

      <div class="account-info-item">
        <p class="label-title">Overdue status:</p>
        <p>
          <% if @overdue_state.nil? %>
            <span class='label'>N/A</span>
          <% elsif @overdue_state.is_clear_state %>
            <span class='label label-success'>Good</span>
          <% else %>
            <span class='label label-danger'><%= @overdue_state.name %></span>
          <% end %>
        </p>
      </div>

      <div class="account-info-item">
        <p class="label-title">Bill cycle day:</p>
        <p>
          <% if @account.bill_cycle_day_local > 0  %>
            <span class='label'><%= @account.bill_cycle_day_local %> (user timezone)</span>
          <% else %>
            <span class='label'>N/A</span>
          <% end %>
        </p>
      </div>

      <% if can? :trigger, Kaui::Invoice %>
        <div class="account-info-item">
          <p class="label-title">Next Invoice Date:</p>
          <p><span class='label' id='next-invoice-date'>N/A</span></p>
        </div>
      <% end %>

      <% if email_notifications_plugin_available? %>
        <div class="account-info-item">
          <div class="d-flex align-items-center justify-content-between">
            <p class="label-title">Email Notifications:</p>
            <%= link_to('<i class="fa fa-cog" aria-hidden="true"></i>'.html_safe,
              '#configureEmailNotification',
              data: { name: @account.name, account_id: @account.account_id,
                      events: @email_notification_configuration.map { |event| event[:eventType] }.join(', '),
                      toggle: 'modal', target: '#configureEmailNotification'}) %>
          </div>
          <p>
            <% @email_notification_configuration.each do |configuration|%>
              - <%= configuration[:eventType] %><br/>
            <% end %>
          </p>
        </div>
      <% end %>

      <% if (can? :trigger, Kaui::Invoice) || (can? :dry_run, Kaui::Invoice) %>
        <div class="trigger-invoice-form" style="padding-bottom: 50px;">
          <%= form_tag kaui_engine.trigger_invoice_path(params.to_h), :method => :post do %>
            <div class="form-group">
              <%= label_tag :target_date, 'Trigger invoice generation', :class => 'col-sm-6 control-label', :style => 'padding-left: 0;' %>
              <div class="col-sm-3">
                <input class="form-control" id="target_date" name="target_date" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true">
              </div>
              <div style="width: 14.5%; float: left; padding: 0;">
                <%= label_tag :dry_run do %>
                  <%= check_box_tag :dry_run, '1', true, :disabled => !can?(:trigger, Kaui::Invoice) %>&nbsp;<small>Dry-run</small>
                <% end %>
              </div>
              <div class="col-xs-1" style="padding: 0;">
                <%= button_tag '<i class="fa fa-magic"></i>'.html_safe, :class => 'btn btn-xs' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div> 
<%
=end%>

<div class="account-summary">

  <div class="row">

    <!-- Left Column -->
    <div class="col-md-4">
      <div class="info-item">
        <b>Account balance</b>
        <% if @account.account_balance.nil? %>
          <p class="badge neutral">N/A</p>
        <% elsif @account.account_balance <= 0 %>
          <p class="badge success"><%= humanized_money_with_symbol @account.balance_to_money %></p>
        <% else %>
          <p class="badge danger"><%= humanized_money_with_symbol @account.balance_to_money %></p>
        <% end %>
      </div>

      <div class="info-item">
        <b>Account credit</b>
        <% if @account.account_cba.nil? %>
          <p class="badge neutral">N/A</p>
        <% elsif @account.account_cba >= 0 %>
          <p class="badge success"><%= humanized_money_with_symbol @account.cba_to_money %></p>
        <% else %>
          <p class="badge danger"><%= humanized_money_with_symbol @account.cba_to_money %></p>
        <% end %>
      </div>

      <div class="info-item">
        <b>Overdue status</b>
        <% if @overdue_state.nil? %>
          <p class="badge neutral">N/A</p>
        <% elsif @overdue_state.is_clear_state %>
          <p class="badge success">Good</p>
        <% else %>
          <p class="badge danger"><%= @overdue_state.name %></p>
        <% end %>
      </div>
    </div>

    <!-- Middle Column -->
    <div class="col-md-4">
      <div class="info-item">
        <b>Bill cycle day</b>
        <% if @account.bill_cycle_day_local > 0  %>
          <p><%= @account.bill_cycle_day_local %> (user timezone)</p>
        <% else %>
          <p>N/A</p>
        <% end %>
      </div>

      <% if can? :trigger, Kaui::Invoice %>
        <div class="info-item">
          <b>Next invoice date</b>
          <p id='next-invoice-date'>N/A</p>
        </div>
      <% end %>
    </div>

    <!-- Right Column -->
    <div class="col-md-4">
      <% if (can? :trigger, Kaui::Invoice) || (can? :dry_run, Kaui::Invoice) %>
        <div class="trigger-invoice-box">
          <b>Trigger invoice generation</b>
          <%= form_tag kaui_engine.trigger_invoice_path(params.to_h), :method => :post do %>
            <div class="d-flex align-items-center mb-2">
              <div class="custom-date-input-wrapper kaui-button custom-hover">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9167 12.5V18.3333M17.8333 15.4167H12" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.0833 1.66675V5.00008M6.58325 1.66675V5.00008" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17.8333 10.8333V4.99992C17.8333 4.07944 17.0871 3.33325 16.1666 3.33325H4.49992C3.57944 3.33325 2.83325 4.07944 2.83325 4.99992V16.6666C2.83325 17.5871 3.57944 18.3333 4.49992 18.3333H10.3333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.83325 8.33325H17.8333" stroke="#A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>


                <input
                  class="form-control"
                  id="target_date"
                  name="target_date"
                  type="text"
                  placeholder="Select date"
                  data-provide="datepicker"
                  data-date-format="yyyy-mm-dd"
                />
              </div>

              <%= render "kaui/components/button/button", {
                label: "Generate",
                icon: "kaui/generate.svg", 
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "submit",
                html_class: "btn btn-xs kaui-dropdown custom-hover py-2 px-3",
              } %>
            </div>
            <div class="form-check">
              <%= check_box_tag :dry_run, '1', true, class: 'form-check-input', id: 'dry_run_checkbox', disabled: !can?(:trigger, Kaui::Invoice) %>
              <%= label_tag :dry_run, 'Dry-run', class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

</div>


    </div>

  </div>

</div>

<%= javascript_tag do %>
    $(document).ready(function() {
      if ($("#next-invoice-date").length) {
        var next_invoice_date_path = Routes.kaui_engine_next_invoice_date_path('<%= @account.account_id %>', {format: "json"});
        var populateNextInvoiceDate = function (next_invoice_date) {
          if (next_invoice_date === null) {
            return;
          }

          $("#next-invoice-date").text(next_invoice_date);
        };

        $.ajax({
          type: 'GET',
          contentType: 'application/json',
          dataType: 'json',
          url: next_invoice_date_path
        }).done(populateNextInvoiceDate);
      }
    });
<% end %>
<style>

  .billing-details {
    margin-top: 3rem;
  }

  .billing-details .billing-details-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
  }

  .billing-details .tag-bar.tag-bar-breathe,
  .billing-details .tag-bar.tag-bar-breathe .toggler,
  .billing-details .tag-bar.tag-bar-breathe .toggle,
  .billing-details .tag-bar.tag-bar-breathe .toggler:hover,
  .billing-details .tag-bar.tag-bar-breathe a,
  .billing-details .tag-bar.tag-bar-breathe .actions {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
  }

  .billing-details .tag-bar.tag-bar-breathe button {
    margin-top: -1.25rem;
  }

  .billing-details .billing-details-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin-bottom: 1.25rem;
  }

  .billing-details .billing-details-header a {
    padding: 0;
  }

  .billing-details .tag-bar button {
    margin-top: -0.3125rem;
    margin-left: 0.1875rem;
  }

  .billing-details .tag-bar {
    border-bottom: 0;
  }

  .billing-details .account-summary {
    margin-top: 1rem;
  }

  .billing-details .info-item {
    margin-bottom: 1.25rem;
  }

  .billing-details .info-item b {
    display: block;
    margin-bottom: 0.25rem;
    color: #414651 !important;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }

  .billing-details .info-item p {
    margin: 0;
    color: #717680 !important;
    font-weight: 500;
    font-size: 0.875rem !important;
    text-align: left;
  }

  .billing-details .badge {
    display: inline-block;
    padding: 0.25rem 0.625rem;
    border-radius: 0.75rem;
    font-size: 0.8125rem;
    font-weight: 500;
  }

  .billing-details .badge.success {
    background-color: #ECFDF3;
    color: #067647 !important;
    font-weight: 500;
    font-size: 0.875rem;
    border: 0.0625rem solid #DCFAE6;
  }

  .billing-details .badge.danger {
    background-color: #fbe4e6;
    color: #842029 !important;
    font-weight: 500;
    font-size: 0.875rem;
    border: 0.0625rem solid #fed0d4;
  }

  .billing-details .badge.neutral {
    background-color: #e2e3e5;
    color: #6c757d;
  }

  .billing-details .trigger-invoice-box b {
    display: block;
    margin-bottom: 0.25rem;
    color: #414651 !important;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    text-align: left;
  }

  .trigger-invoice-box button {
    margin-left: 0.3125rem;
    padding: 0.625rem !important;
  }

  .billing-details .date-picker {
    flex: 1;
    max-width: 12.5rem;
  }

  .billing-details .form-check-input {
    margin-top: 0.25rem;
  }

  .billing-details .custom-date-input-wrapper {
    padding: 0 0.625rem !important;
    border: 0.0625rem solid #D5D7DA !important;
    border-radius: 0.375rem;
    cursor: pointer;
  }

  .billing-details .custom-date-input-wrapper svg {
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  .billing-details .custom-date-input-wrapper input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 !important;
    font-size: 1rem;
    color: #6B7280;
    height: 2.5rem;
  }

  .billing-details .custom-date-input-wrapper input::placeholder {
    color: #717680;
  }

  .billing-details .custom-date-input-wrapper input.form-control {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
</style>