<div class="col-md-6">

  <div class="column-block">

    <h1>Billing Info</h1>

    <div class="info-wrapper">

      <div class="tag-bar">

        <div class="tag-select" onclick="void(0)">
          <span><i class="fa fa-money"></i><i class="fa fa-caret-down"></i></span>

          <div class="tag-select-box">
            <!-- Payment, Credit then Charge. Same ordering as in the billing timeline -->
            <% if @account.account_balance.present? && @account.account_balance > 0 %>
                <%= link_to '<i class="fa fa-plus-square"></i>&nbsp;Pay all invoices'.html_safe,
                            kaui_engine.pay_all_invoices_account_path(@account.account_id),
                            :method => :post %>
            <% end %>
            <% if can? :credit, Kaui::Account %>
                <%= link_to '<i class="fa fa-plus-square"></i>&nbsp;Add credit'.html_safe,
                            kaui_engine.new_account_credit_path(@account.account_id, :currency => @account.currency) %>
            <% end %>
            <% if can? :charge, Kaui::Account %>
                <%= link_to '<i class="fa fa-plus-square"></i>&nbsp;Create charge'.html_safe,
                            kaui_engine.new_account_charge_path(@account.account_id, :currency => @account.currency) %>
            <% end %>
          </div>
        </div>
      </div>

      <p class="text-uppercase fix-position">
        <br/>
        Account balance:
        <% if @account.account_balance.nil? %>
            <span class='label'>N/A</span>
        <% elsif @account.account_balance <= 0 %>
            <span class="label label-success"><%= humanized_money_with_symbol @account.balance_to_money %>
              <%= "(#{@account.currency})" if @account.currency.present? %></span>
        <% else %>
            <span class="label label-danger"><%= humanized_money_with_symbol @account.balance_to_money %>
              <%= "(#{@account.currency})" if @account.currency.present? %></span>
        <% end %>
        <br/>
        Account credit:
        <% if @account.account_cba.nil? %>
            <span class='label'>N/A</span>
        <% elsif @account.account_cba >= 0 %>
            <span class="label label-success"><%= humanized_money_with_symbol @account.cba_to_money %>
              <%= "(#{@account.currency})" if @account.currency.present? %></span>
        <% else %>
            <span class="label label-danger"><%= humanized_money_with_symbol @account.cba_to_money %>
              <%= "(#{@account.currency})" if @account.currency.present? %></span>
        <% end %>
        <br/>
        Overdue status:
        <% if @overdue_state.nil? %>
            <span class='label'>N/A</span>
        <% elsif @overdue_state.clear_state %>
            <span class='label label-success'>Good</span>
        <% else %>
            <span class='label label-danger'><%= @overdue_state.name %></span>
        <% end %>
        <br/>
        Bill cycle day:
        <% if @account.bill_cycle_day_local %>
            <span class='label'><%= @account.bill_cycle_day_local %> (user timezone)</span>
        <% else %>
            <span class='label'>N/A</span>
        <% end %>
        <br/>
        Next Invoice Date: <span class='label'><%= @next_invoice_date %> (user timezone)</span>
        <br/>
        Notified For Invoice:
        <span class="label text-capitalize"><%= @account.is_notified_for_invoices %></span>&nbsp;<%= link_to '<i class="fa fa-toggle-on"></i>'.html_safe, kaui_engine.toggle_email_notifications_account_path(@account.account_id, :is_notified => !@account.is_notified_for_invoices), :method => :post, :class => 'btn btn-xs' %>

      </p>

    </div>

  </div>

</div>
