<div class="search">

  <div class="column-block">

    <% if @search_query.present? %>
        <h1>Showing search results for "<%= @search_query %>"</h1>
    <% else %>
        <h1>Showing all accounts</h1>
    <% end %>
    <%= render :partial => 'multi_functions_bar' %>

    <table id="accounts-table" class="table table-condensed mobile-data" style="width:100%">
      <thead>
      <tr>
        <% Kaui.account_search_columns.call[0].each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  #accounts-table td, #accounts-table tr {
    white-space: nowrap;
  }
</style>

<%= javascript_tag do %>
$(document).ready(function() {
  $.ajax({
    url: "<%= accounts_pagination_path(:ordering => @ordering, :format => :json) %>",
    type: "GET",
    success: function(response) {
      const visibleColumns = response.columns;

      var table = $('#accounts-table').DataTable({
        "colReorder": {
          "enable": false
        },
        "stateSave": true,
        "scrollX": true,
        "dom": "<'row'r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "pagingType": <% if @max_nb_records.nil? -%>"simple"<% else -%>"full_numbers"<% end -%>,
        "language": {
          <!-- See DefaultPaginationSqlDaoHelper.java -->
          "info": <% if @max_nb_records.nil? -%>"Showing _START_ to _END_ of <%= number_with_delimiter(Kaui::EngineControllerUtil::SIMPLE_PAGINATION_THRESHOLD) -%>+ entries"<% else -%>"Showing _START_ to _END_ of _TOTAL_ entries"<% end -%>
        },
        "pageLength": <%= @limit %>,
        "displayStart": <%= @offset %>,
        <% if @search_query.blank? %>
          "ordering": false,
        <% elsif !@ordering.blank? %>
          "order": [[ 1, "<%= @ordering %>" ]],
        <% end %>
        "processing": true,
        "serverSide": true,
        "search": {"search": "<%= @search_query %>"},
        "ajax": {
          url: "<%= accounts_pagination_path(:ordering => @ordering, :format => :json) %>",
          dataSrc: function(json) {
            var colOrder = $('#accounts-table').DataTable().colReorder.order();
            var reorderedData = json.data.map(function(row) {
              var newRow = [];
              for (var i = 0; i < colOrder.length; i++) {
                newRow.push(row[colOrder[i]]);
              }
              return newRow;
            });
            return reorderedData;
          }
        },
        "columns": visibleColumns
      });
    }
  });

  <!-- When we don't know the total number of pages, we need to hide the legend and next button manually -->
  <% if @max_nb_records.nil? %>
    $('#accounts-table').on('draw.dt', function() {
      var noMoreData = table.column(0)
                            .data()
                            .length == 0;
      $(".next.paginate_button").toggleClass("disabled", noMoreData);
      $(".dataTables_info").toggle(!noMoreData);
    });
  <% end %>
});
<% end %>
