<h3>Account Information</h3>
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @account.name %></dd>
  <dt>ID:</dt>
  <dd><%= @account.account_id %></dd>
  <dt>External key:</dt>
  <dd><%= @account.external_key %></dd>
  <dt>Currency:</dt>
  <dd><%= @account.currency %></dd>
  <dt>Timezone:</dt>
  <dd><%= @account.time_zone %></dd>
  <dt>Email:</dt>
  <dd><%= @account.email %></dd>
  <dt>Address 1:</dt>
  <dd><%= @account.address1 %></dd>
  <dt>Address 2:</dt>
  <dd><%= @account.address2 %></dd>
  <dt>State:</dt>
  <dd><%= @account.state %></dd>
  <dt>Country:</dt>
  <dd><%= @account.country %></dd>
  <dt>Phone:</dt>
  <dd><%= @account.phone %></dd>
  <dt>Company:</dt>
  <dd><%= @account.company %></dd>
  <%= render :partial => 'kaui/tags/tags_table',
             :locals => {:tags => @tags, :tags_url_or_path => kaui_engine.edit_account_tags_path(:params => {:account_id => @account.account_id}), :tags_show_path => kaui_engine.account_tags_path(:account_id => @account.account_id)} %>
  <%= render :partial => 'kaui/account_emails/account_emails_table',
             :locals => {:account_emails => @account_emails, :account_id => @account.account_id} %>
</dl>

<h3>Billing Information</h3>
<dl class="dl-horizontal">
  <dt>Account balance:</dt>
  <% if @account.account_balance.nil? %>
      <dd>unknown</dd>
  <% elsif @account.account_balance <= 0 %>
      <dd><span class="label label-success"><%= humanized_money_with_symbol @account.balance_to_money %>
        (<%= @account.currency %>)</span></dd>
  <% else %>
      <dd><span class="label label-danger"><%= humanized_money_with_symbol @account.balance_to_money %>
        (<%= @account.currency %>)</span></dd>
  <% end %>
  <dt>Account credit:</dt>
  <% if @account.account_cba.nil? %>
      <dd>unknown</dd>
  <% elsif @account.account_cba >= 0 %>
      <dd><span class="label label-success"><%= humanized_money_with_symbol @account.cba_to_money %>
        (<%= @account.currency %>)</span></dd>
  <% else %>
      <dd><span class="label label-danger"><%= humanized_money_with_symbol @account.cba_to_money %>
        (<%= @account.currency %>)</span></dd>
  <% end %>
  <dt>Next invoice date:</dt>
  <dd><span class="label label-warning">NOT IMPLEMENTED</span></dd>
  <dt>Bill cycle day:</dt>
  <% if @account.bill_cycle_day_local %>
      <dd><%= @account.bill_cycle_day_local %> (user timezone)</dd>
  <% else %>
      <dd><%= t :unknown_bcd %></dd>
  <% end %>
  <dt>Overdue status:</dt>
  <% if @overdue_state.nil? %>
      <dd>unknown</dd>
  <% elsif @overdue_state.clear_state %>
      <dd><span class='label label-success'>Good</span>
      <dd>
  <% else %>
      <dd><span class='label label-danger'><%= @overdue_state.name %></span>
      <dd>
  <% end %>
  <dt>Notified for inv?</dt>
  <dd><%= @account.is_notified_for_invoices %>&nbsp;<%= link_to 'Toggle', kaui_engine.toggle_email_notifications_account_path(@account.account_id, :is_notified => !@account.is_notified_for_invoices), :method => :post, :class => 'btn btn-xs' %></dd>
  <dt>Actions:</dt>
  <dd>
    <nobr>
      <!-- Payment, Credit then Charge. Same ordering as in the billing timeline -->
      <%= link_to 'Pay all invoices',
                  kaui_engine.pay_all_invoices_account_path(@account.account_id),
                  :method => :post,
                  :class => "btn btn-xs #{'disabled' if !@account.account_balance.nil? and @account.account_balance <= 0}" %>
    </nobr>
    <% if can? :credit, Kaui::Account %>
        <nobr>
          <%= link_to 'Add credit',
                      kaui_engine.new_credit_path(:params => {:account_id => @account.account_id}),
                      :class => 'btn btn-xs' %>
        </nobr>
    <% end %>
    <% if can? :charge, Kaui::Account %>
        <nobr>
          <%= link_to 'Create charge',
                      kaui_engine.new_charge_path(:params => {:account_id => @account.account_id}),
                      :class => 'btn btn-xs' %>
        </nobr>
    <% end %>
  </dd>
</dl>

<% if @payment_methods.present? %>
    <%= render :partial => 'kaui/payment_methods/payment_methods_table', :locals => {:account_id => @account.account_id, :payment_methods => @payment_methods} %>
<% end %>
<%= link_to 'Add payment method', kaui_engine.new_payment_method_path(:account_id => @account.account_id), :class => 'btn btn-xs' %>

<%= javascript_tag do %>
    function disableLinks() {
    $('a.btn.disabled').click(function (e) {
    // e.preventDefault(); is not enough here
    return false;
    });
    }

    $(document).ready(function() {
    disableLinks();
    });
<% end %>
