<div class="kaui-container">
<%= render "kaui/components/breadcrumb/breadcrumb" %>
<div class="d-flex" style="gap: 4rem;">
  <% if params[:account_id].present? %>
    <%= render :template => 'kaui/layouts/kaui_account_sidebar' %>
  <% end %>
<div class="d-flex flex-column w-100">
  <%
=begin%>
 <%= render :partial => 'account_info' %> 
<%
=end%>
  <%= render :partial => 'account_details' %>

  <%= render :partial => 'billing_details' %>

  <%= render :partial => 'personal_details' %>

  <%= render :partial => 'payment_gateways' %>
</div>
</div>
</div>


<%
=begin%>
 <%= render :partial => 'link_parent_modal' %> 
<%
=end%>

<%= render :partial => 'link_parent_to_modal' %>

<% if email_notifications_plugin_available? %>
  <%= render :partial => 'kenui/email_notifications/configure_events_modal' %>
<% end %>

<% if can_close_account? %>
  <%= render :partial => 'close_account_modal' %>
<% end %>

<%= javascript_tag do %>
  function disableLinks() {
    $('a.btn.disabled').click(function (e) {
      // e.preventDefault(); is not enough here
      return false;
    });
  }

  $(document).ready(function() {
    disableLinks();
  });
<% end %>
