<% if @account.present? %>
  <dl class="dl-horizontal">
    <dt>Id:</dt>
    <dd><%= @account.account_id %>&nbsp;</dd>
    <dt>Name:</dt>
    <dd><%= @account.name %>&nbsp;</dd>
    <dt>Email:</dt>
    <dd><%= @account.email %>&nbsp;</dd>
    <dt>Bill cycle day:</dt>
    <% if @account.bill_cycle_day %>
      <dd><%= @account.bill_cycle_day.day_of_month_local %> (user timezone) / <%= @account.bill_cycle_day.day_of_month_utc %> (UTC)</dd>
    <% else %>
      <dd><%=t :unknown_bcd %></dd>
    <% end %>
    <dt>Currency:</dt>
    <dd><%= @account.currency %>&nbsp;</dd>
    <dt>Timezone:</dt>
    <dd><%= @account.timezone %>&nbsp;</dd>
    <dt>Address 1:</dt>
    <dd><%= @account.address1 %>&nbsp;</dd>
    <dt>Address 2:</dt>
    <dd><%= @account.address2 %>&nbsp;</dd>
    <dt>Company:</dt>
    <dd><%= @account.company %>&nbsp;</dd>
    <dt>State:</dt>
    <dd><%= @account.state %>&nbsp;</dd>
    <dt>Country:</dt>
    <dd><%= @account.country %>&nbsp;</dd>
    <dt>Phone:</dt>
    <dd><%= @account.phone %>&nbsp;</dd>
    <dt>External key:</dt>
    <dd><%= @account.external_key %>&nbsp;</dd>
    <dt>Account balance:</dt>
    <% if @account.balance.nil? %>    
        <dd>unknown &nbsp;</dd>    
    <% elsif @account.balance <= 0  %>
        <dd><span class="label label-success" ><%= @account.balance %></span> &nbsp;</dd>
    <% else %>
        <dd><span class="label label-important" ><%= @account.balance %></span>&nbsp;</dd>    
    <% end %>
    
    <%= render :partial => "kaui/tags/tags_table",
               :locals => { :tags => @tags, :tags_url_or_path => kaui_engine.edit_account_tags_path(:params => { :account_id => @account.account_id }) } %>
  </dl>
  <h2><%= link_to "Billing timeline", kaui_engine.account_timeline_path(@account.account_id) %></h2>
  <% if @payment_methods.present? %>
    <%= render :partial => "kaui/payment_methods/payment_methods_table", :locals => { :account_id => @account.account_id, :payment_methods => @payment_methods } %>
  <% end %>
  <%= link_to "Add payment method", kaui_engine.add_payment_method_account_path(@account.account_id), :class => "btn btn-mini" %>
  <% @bundles.each do |bundle| %>
    <% subs = @subscriptions_by_bundle_id[bundle.bundle_id] %>
    <% if subs.present? %>
      <h2>Bundle <%= link_to Kaui.bundle_key_display_string.call(bundle.external_key), Kaui.bundle_home_path.call(bundle.bundle_id) if bundle.external_key.present? %>&nbsp;</h2>
      <%= render :partial => "kaui/subscriptions/subscriptions_table", :locals => { :subscriptions => subs } %>
    <% end %>
  <% end %>
<% else %>
  <p>Account not found</p>
<% end %>