<%= form_for(@tag_definition) do |f| %>
    <%= f.hidden_field :id %>
    <div class='control-group'>
      <%= f.label :name, 'Name:', :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class='control-group'>
      <%= f.label :description, 'Description:', :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :description, :class => 'input-xxlarge' %>
      </div>
    </div>
    <div class='form-actions'>
      <%= f.submit 'Create', :class => 'btn btn-primary' %>
    </div>
<% end %>
