<h3 class="pageHeader">Tag definitions</h3>

<table id='invoice_table' class='table table-condensed data-table'>
  <thead>
    <tr>
      <th style='width: 30%'>Id</th>
      <th style='width: 20%'>Name</th>
      <th style='width: 20%'>Description</th>
      <th style='width: 5%'>System tag?</th>
      <th style='width: 15%'>Applicable types</th>
      <th style='width: 5%'></th>
      <th style='width: 5%'></th>
    </tr>
  </thead>
  <tbody>
    <% @tag_definitions.each do |tag_definition| %>
      <tr>
        <td><%= truncate_uuid(tag_definition.id) %></td>
        <td><%= tag_definition.name %></td>
        <td><%= tag_definition.description %></td>
        <td><%= tag_definition.is_system_tag? %></td>
        <td><%= !tag_definition.is_system_tag? ? 'Any' : tag_definition.applicable_object_types.join(', ') %></td>
        <td><%= link_to 'Show', kaui_engine.tag_definition_path(tag_definition.id) %></td>
        <td>
          <% unless tag_definition.is_system_tag? %>
            <%= link_to 'Destroy', kaui_engine.tag_definition_path(tag_definition.id), :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Tag definition', kaui_engine.new_tag_definition_path, :class => 'btn btn-primary' %>
