<h2>Tag Definition</h2>
<dl class='dl-horizontal'>
  <dt>Id:</dt>
  <dd><%= @tag_definition.id %>&nbsp;</dd>
  <dt>Name:</dt>
  <dd><%= @tag_definition.name %>&nbsp;</dd>
  <dt>Description:</dt>
  <dd><%= @tag_definition.description %>&nbsp;</dd>
  <dt>System tag?:</dt>
  <dd><%= @tag_definition.is_system_tag? %>&nbsp;</dd>
  <dt>Applicable types:</dt>
  <dd><%= @tag_definition.applicable_object_types.join(', ') %>&nbsp;</dd>
</dl>

<%= link_to 'Tag definitions', kaui_engine.tag_definitions_path, :class => 'btn' %>
