<div class="kaui-container kaui-audit-logs-index">
  <%= render "kaui/components/breadcrumb/breadcrumb" %>
  <div class="d-flex " style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_account_sidebar' %>
    <div class="audit-logs">
      <div class="d-flex flex-column ">
        <div class="audit-logs-header mb-4">
          <div class="d-flex align-items-center">
            <h2>Audit logs</h2>
          </div>
          <span>
            <%= render :partial => 'multi_functions_bar' %>
            <input type="hidden" id="audit-logs" value="<%= @audit_logs_json %>">
          </span>
        </div>
        <table id="audit-logs-table" class="audit-logs-table">
          <thead>
          <tr>
            <th>Created date</th>
            <th>Object id</th>
            <th>Object type</th>
            <th>Change type</th>
            <th>Username</th>
            <th>Reason</th>
            <th>Comment</th>
            <th>User token</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <%= render :partial => 'show_history_modal' %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
    $(document).ready(function() {
        var auditLogs = JSON.parse($("#audit-logs").val());
        $('#audit-logs-table').DataTable({
            dom: "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
            data: auditLogs,
            "scrollX": true,
            order: [[ 0, 'desc' ]],
            createdRow: function( row, data, dataIndex ) {
                if ( data[3] == "INSERT" ) {
                    $(row).addClass( 'insert' );
                } else if ( data[3] == "UPDATE" ) {
                    $(row).addClass( 'update' );
                } else if ( data[3] == "DELETE" ) {
                    $(row).addClass( 'delete' );
                }
                if (data[4] || data[3]) {
                  $(row).each(function () {
                    $(this).find('td').each(function () {
                      const content = $(this).text().trim();
                      $(this).html(`<span>${content}</span>`);
                    });
                  });
                }
            },
            drawCallback: function() {
                setObjectIdPopover();
            }
        });
    });

    setTimeout(() => {

    }, 50);
<% end %>
