<div class="column-block subscription-bundle">

  <h1>Subscription Bundles
    <% if can? :create, Kaui::Subscription %>
        <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe,
                    kaui_engine.new_subscription_path(:params => {:account_id => @account.account_id, :product_category => 'BASE'}),
                    :class => 'btn btn-xs' %>
    <% end %>
  </h1>

  <% @bundles.each_with_index do |bundle, idx| %>
      <div class="row">
        <div class="col-md-6">
          <%= render :partial => Kaui.bundle_details_partial, :locals => { :bundle => bundle, :account => @account, :catalog => @catalog } %>
        </div>
      </div>

      <div class="info-wrapper">

        <div class="tag-bar">
          <% unless @available_tags.empty? %>
            <div class="tag-select" onclick="void(0)">
              <span><i class="fa fa-tag"></i><i class="fa fa-caret-down"></i></span>

              <div class="tag-select-box">
                <strong>Tag as:</strong>

                <%= render :partial => 'kaui/bundle_tags/form_bar',
                           :locals => {:params => { :bundle_id => bundle.bundle_id},
                                       :tag_names => (@tags_per_bundle[bundle.bundle_id] || []).map { |tag| tag.tag_definition_name },
                                       :available_tags => @available_tags,
                                       :update_tags_path => update_bundle_tags_path
                           } %>
              </div>
            </div>
          <% end %>
          <%= render :partial => 'kaui/custom_fields/list_bar',
                     :locals => {:custom_fields => @custom_fields_per_bundle[bundle.bundle_id] || []} %>

          <% if !subscription_cancelled?(@subscription[bundle.bundle_id]) &&
              (can?(:create, Kaui::Subscription) || can?(:transfer, Kaui::Subscription) || can?(:pause_resume, Kaui::Subscription)) %>
              <div class="tag-select" onclick="void(0)">
                <span><i class="fa fa-gift"></i><i class="fa fa-caret-down"></i></span>

                <div class="tag-select-box">
                  <% if can?(:create, Kaui::Subscription) && @subscription[bundle.bundle_id].present? %>
                      <%= link_to "<i class='fa fa-plus'></i>&nbsp;#{@subscription[bundle.bundle_id].product_category == 'BASE' ? 'Add add-on' : 'Add standalone subscription'}".html_safe,
                                  kaui_engine.new_subscription_path(:params => {
                                      :account_id => bundle.account_id,
                                      :bundle_id => bundle.bundle_id,
                                      :base_product_name => @subscription[bundle.bundle_id].product_name,
                                      :product_category => @subscription[bundle.bundle_id].product_category == 'BASE' ? 'ADD_ON' : 'STANDALONE'}) %>
                  <% end %>
                  <% if can? :transfer, Kaui::Subscription %>
                      <%= link_to '<i class="fa fa-random"></i>&nbsp;Transfer Ownership'.html_safe, kaui_engine.transfer_bundle_path(bundle.bundle_id) %>
                  <% end %>
                  <% if can? :pause_resume, Kaui::Subscription %>
                      <%= link_to '<i class="fa fa-pause"></i>&nbsp;Pause / resume'.html_safe, kaui_engine.pause_resume_bundle_path(:account_id => bundle.account_id, :id => bundle.bundle_id) %>
                  <% end %>
                </div>
              </div>
          <% end %>

        </div>

        <% if bundle.subscriptions.present? %>
            <div class="search">
              <%= render :partial => 'kaui/subscriptions/subscriptions_table', :locals => {:bundle => bundle, :account => @account, :catalog => @catalog} %>
            </div>
        <% end %>

      </div>

      <% if idx < @bundles.size - 1 %>
          <hr class="breathe"/>
      <% end %>
  <% end %>

</div>
