<div class="kaui-container subscription-bundl-index pb-5">
  <%= render "kaui/components/breadcrumb/breadcrumb" %>
  <div class="d-flex mb-5" style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_account_sidebar' %>
    <div class="subscription-bundle">
      <div class="d-flex flex-column ">
        <div class="subscription-bundle-header mb-4">
          <div class="d-flex align-items-center">
          <h2>Subscription Bundles</h2>
          </div>
          <span>
            <% if can? :create, Kaui::Subscription %>
              <%= link_to kaui_engine.new_subscription_path(:params => { :account_id => @account.account_id, :product_category => 'BASE' }) do %>
                <%= render "kaui/components/button/button", {
                      label: "Create Subscription",
                      icon: "kaui/plus.svg",
                      variant: "outline-secondary d-inline-flex align-items-center gap-1",
                      type: "button",
                      html_class: "kaui-dropdown custom-hover",
                    } %>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="subscriptions-scroll">
          <% @bundles.each_with_index do |bundle, idx| %>
            <div class="row">
              <div class="d-flex">
                <%= render :partial => Kaui.bundle_details_partial, :locals => { :bundle => bundle, :account => @account, :catalog => @catalog } %>
              </div>
              <% if bundle.subscriptions.present? %>
                  <div class="search">
                    <%= render :partial => 'kaui/subscriptions/subscriptions_table', :locals => {:bundle => bundle, :account => @account, :catalog => @catalog} %>
                  </div>
              <% end %>
            </div>
          <% end %>

          
          <div class="text-right d-flex justify-content-end pagination" style="">
            <%= link_to account_bundles_path(page: @page - 1), class: "btn btn-custom #{'disabled' if @page == 1}" do %>
              <%= render "kaui/components/button/button", {
                    label: "Previous",
                    variant: "outline-secondary d-inline-flex align-items-center gap-1",
                    type: "button",
                    html_class: "kaui-button custom-hover"
                  } %>
            <% end %>

            <% if @total_pages <= 10 %>
                <% (1..@total_pages).each do |num| %>
                    <%= link_to num, account_bundles_path(page: num), class: paging_button_class(num, @page) %>
                <% end %>
            <% else %>
                <%= link_to 1, account_bundles_path(page: 1), class: paging_button_class(1, @page) %>
                <% if @page < 5 %>
                    <% (2..5).each do |num| %>
                        <%= link_to num, account_bundles_path(page: num), class: paging_button_class(num, @page) %>
                    <% end %>
                    <%= '...' %>
                <% elsif @page > @total_pages - 4 %>
                    <%= '...' %>
                    <% (@total_pages-4..@total_pages-1).each do |num| %>
                        <%= link_to num, account_bundles_path(page: num), class: paging_button_class(num, @page) %>
                    <% end %>
                <% else %>
                    <%= '...' %>
                    <% (@page-1..@page+1).each do |num| %>
                        <%= link_to num, account_bundles_path(page: num), class: paging_button_class(num, @page) %>
                    <% end %>
                    <%= '...' %>
                <% end %>
                <%= link_to @total_pages, account_bundles_path(page: @total_pages), class: paging_button_class(@total_pages, @page) %>
            <% end %>
            <%= link_to account_bundles_path(page: @page + 1), class: "btn btn-custom #{'disabled' if @page == @total_pages}" do %>
              <%= render "kaui/components/button/button", {
                    label: "Next",
                    variant: "outline-secondary d-inline-flex align-items-center gap-1",
                    type: "button",
                    html_class: "kaui-button custom-hover"
                  } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>