<%= form_tag update_bundle_tags_path do %>
    <%= hidden_field_tag :bundle_id, bundle_id %>

    <% available_tags.each do |tag| %>
        <%= check_box_tag "tag_#{tag.id}", tag.name, tag_names.include?(tag.name) %>
        <label class='tag-description' rel='tooltip' title='<%= tag.description %>'><%= tag.name %></label>
    <% end %>
    <%= label_tag :comment, 'Comment', :class => 'col-sm-2 control-label' %>
    <%= text_area_tag :comment, nil, :rows => 3, :class => 'form-control' %>
    <%= submit_tag 'Update', :class => 'btn btn-default' %>
<% end %>

<%= javascript_tag do %>
$(function() {
  $(".tag-description").tooltip();
});
<% end %>
