<div class="search">

  <% unless (@queues_entries['busEvents'] || []).empty? %>
      <div class="column-block">

        <h1>Bus events</h1>

        <div style="overflow-x: auto;">
          <table id="bus-table" class="table table-condensed mobile-data table-small-padding">
            <thead>
            <tr>
              <th>Created date</th>
              <th>Class name</th>
              <th>Event</th>
              <th>User token</th>
              <% if @account_id.blank? %>
                  <th>Account record id</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @queues_entries['busEvents'].each do |bus_event| %>
                <tr>
                  <td><%= truncate_millis(bus_event['createdDate']) %></td>
                  <td><%= truncate_class_name(bus_event['className']) %></td>
                  <td><%= "<pre>#{JSON.pretty_generate(bus_event['event'])}</pre>".html_safe %></td>
                  <td><%= truncate_uuid(bus_event['userToken']) %></td>
                  <% if @account_id.blank? %>
                      <td><%= bus_event['searchKey1'] %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
  <% end %>
  <% unless (@queues_entries['notifications'] || []).empty? %>
      <div class="column-block">

        <h1>Notifications</h1>

        <div style="overflow-x: auto;">
          <table id="notifications-table" class="table table-condensed mobile-data table-small-padding">
            <thead>
            <tr>
              <th>Effective date</th>
              <th>Queue name</th>
              <th>Event</th>
              <th>User token</th>
              <% if @account_id.blank? %>
                  <th>Account record id</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @queues_entries['notifications'].each do |notification| %>
                <tr>
                  <td><%= truncate_millis(notification['effectiveDate']) %></td>
                  <td>
                    <%= notification['queueName'] %>
                  </td>
                  <td><%= "<pre>#{JSON.pretty_generate(notification['event'])}</pre>".html_safe %></td>
                  <td><%= truncate_uuid(notification['userToken']) %></td>
                  <% if @account_id.blank? %>
                      <td><%= notification['searchKey1'] %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
  <% end %>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#bus-table').dataTable({
      "dom": "t",
      "paging": "false",
      "order": [],
      "columns": []
    });
    $('#notifications-table').dataTable({
      "dom": "t",
      "paging": "false",
      "order": [],
      "columns": []
    });
});
<% end %>
