<div class="kaui-container kaui-queues-index">
  <%= render "kaui/components/breadcrumb/breadcrumb" %>
  <div class="d-flex " style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_account_sidebar' %>
    <div class="queues">
      <div class="d-flex flex-column ">
        <div class="queues-header mb-4">
          <div class="d-flex align-items-center">
            <h2>Queues</h2>
          </div>
        </div>
        <div class="text-center filter-tabs">
          <%= link_to 'Current or future entries', kaui_engine.queues_path(params.to_h.merge(with_history: false, max_date: @now + 1.week)), class: (params[:with_history] == 'false' ? 'activelink' : '') %>


          <% unless params[:account_id].present? -%>
            <%= link_to 'Historical entries (last week)', kaui_engine.queues_path(params.to_h.merge(with_history: true, min_date: @now - 1.week, max_date: @now + 1.week)), class: (params[:with_history] == 'true' && params[:min_date] == (@now - 1.week).to_s ? 'activelink' : '') %>
            <%= link_to 'Historical entries (last month)', kaui_engine.queues_path(params.to_h.merge(with_history: true, min_date: @now - 1.month, max_date: @now + 1.week)), class: (params[:with_history] == 'true' && params[:min_date] == (@now - 1.month).to_s ? 'activelink' : '') %>
          <% end -%>

          <%= link_to 'All historical entries', kaui_engine.queues_path(params.to_h.merge(with_history: true)), class: (params[:with_history] == 'true' && !params[:min_date].present? ? 'activelink' : '') %>

        </div>
        <div class="search">

          <% unless (@queues_entries['busEvents'] || []).empty? %>
            <div class="d-flex flex-column ">
              <div class="queues-header mb-4">
                <div class="d-flex align-items-center">
                  <h2>Bus events</h2>
                </div>
              </div>

              <div>
                <table id="bus-table" class="bus-table">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Created date</th>
                    <th>Class name</th>
                    <th>Event</th>
                    <th>User token</th>
                    <% if @account_id.blank? %>
                        <th>Account record id</th>
                    <% end %>
                    <th>User token</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @queues_entries['busEvents'].each do |bus_event| %>
                      <tr>
                        <td class="timeline">
                          <span class="dot"></span>
                        </td>
                        <td><span><%= truncate_millis(bus_event['createdDate']) %></span></td>
                        <td><%= truncate_class_name(bus_event['className'], false) %></td>
                        <td><%= "<pre>#{JSON.pretty_generate(bus_event['event'])}</pre>".html_safe %></td>
                        <td><%= object_id_popover(bus_event['userToken'], 'left') %></td>
                        <% if @account_id.blank? %>
                          <td><%= bus_event['searchKey1'] %></td>
                        <% end %>
                        <td><%= bus_event['userToken'] %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
          <% unless (@queues_entries['notifications'] || []).empty? %>
            <div class="d-flex flex-column ">
              <div class="queues-header mb-4">
                <div class="d-flex align-items-center">
                  <h2>Notifications</h2>
                </div>
              </div>

              <div>
                <table id="notifications-table" class="notifications-table">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Effective date</th>
                    <th>Queue name</th>
                    <th>Event</th>
                    <th>User token</th>
                    <% if @account_id.blank? %>
                        <th>Account record id</th>
                    <% end %>
                    <th>User token</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @queues_entries['notifications'].each do |notification| %>
                      <% if notification['effectiveDate'].to_datetime < @now %>
                          <tr class="">
                      <% else %>
                          <tr>
                      <% end %>
                        <td class="timeline">
                          <div class="dot"></div>
                        </td>
                        <td><span><%= truncate_millis(notification['effectiveDate']) %></span></td>
                        <td>
                          <%= notification['queueName'] %>
                        </td>
                        <td><%= "<pre>#{JSON.pretty_generate(notification['event'])}</pre>".html_safe %></td>
                        <td><%= object_id_popover(notification['userToken'], 'left') %></td>
                        <% if @account_id.blank? %>
                            <td><%= notification['searchKey1'] %></td>
                        <% end %>
                        <td><%= notification['userToken'] %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<% nb_bus_entries = (@queues_entries['busEvents'] || []).size %>
<% nb_notifications_entries = (@queues_entries['notifications'] || []).size %>
<%= javascript_tag do %>
  $(document).ready(function() {
    $('#bus-table').dataTable({
      <% if nb_bus_entries <= 50 %>
        "dom": "<'row'<'col-md-6'><'col-md-6'f>r>t",
        "paging": "false",
      <% else %>
        "dom": "<'row'<'col-md-6'><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "pagingType": "full_numbers",
        "displayStart": <%= [0, nb_bus_entries - 50].max %>,
      <% end %>
      "pageLength": 50,
      "order": [],
      "columnDefs": [
        {
          "targets": [ <%= @account_id.blank? ? 5 : 4 %> ],
          "visible": false,
          "searchable": true
        }
      ]
    });
    $('#notifications-table').dataTable({
      <% if nb_notifications_entries <= 50 %>
        "dom": "<'row'<'col-md-6'><'col-md-6'f>r>t",
        "paging": "false",
      <% else %>
        "dom": "<'row'<'col-md-6'><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "pagingType": "full_numbers",
        "displayStart": 0,
      <% end %>
      "pageLength": 50,
      "order": [],
      "columnDefs": [
        {
          "targets": [ <%= @account_id.blank? ? 5 : 4 %> ],
          "visible": false,
          "searchable": true
        }
      ]
    });

    $('#bus-table').wrap('<div class="table-wrapper"></div>');
    $('#notifications-table').wrap('<div class="table-wrapper"></div>');
  });
<% end %>
